[2016-08-11 10:57] yan12125 opened #1 "Publishing a Firefox version"
Hi tiratatp,

I just found this project. It's quite useful and block things well. It works fine with Firefox, too. I'd like to publish a Firefox version to https://addons.mozilla.org/, can I?

[2016-08-11 12:41] tiratatp commented on #1
Hi there! I'm glad you like it.
You could publish to Firefox. As long as you respect the GPL license (e.g. keep it open source), feel free to publish it. :smile:
If you publish it, let me know so I can put the link here too.

[2016-08-11 13:41] yan12125 commented on #1
Thanks. Submitted to Mozilla and it's now being reviewed :)

[2016-08-12 04:08] yan12125 commented on #1
Reviewed ok: https://addons.mozilla.org/en-US/firefox/addon/facebook_adblock/

[2016-08-12 04:50] tiratatp commented on #1
Yay! I never publish to Firefox. Is it just my source code or do you have to modify something? If you have to modify something, could you release the source code?

[2016-08-12 05:00] yan12125 commented on #1
Nothing is modifed. Firefox 48 or newer allows using simple Chrome extensions directly. I just repack it and upload it to addons.mozilla.org with my API key. The XPI file at https://addons.mozilla.org/en-US/firefox/addon/facebook_adblock/ is just a zip file, which contains the same set of files in this project.

[2016-08-12 05:01] tiratatp commented on #1
Thanks for the clarification! I'll go ahead and close this issue. Thanks again for publishing this for Firefox!

[2016-08-12 05:01] #1 closed

[2016-09-22 11:40] yan12125 commented on #1
Hi @tiratatp, I got a legal letter from Adblock Plus lawyers, saying that my Firefox addon violates their trademark rights. I've renamed the Firefox addon to something different. For this upstream project, I guess the safest way is to rename it, too. How do you think?

[2016-09-22 12:34] tiratatp commented on #1
This is so stupid. Can you forward me an email?

On Thu, Sep 22, 2016, 06:41 Yen Chi Hsuan <notifications@github.com> wrote:

[2016-09-22 12:40] yan12125 commented on #1
What's your mail address?

[2016-11-29 14:39] yan12125 opened #2 "Not working on Android"
Reported at https://addons.mozilla.org/en-US/firefox/addon/fb_ad_block/reviews/831578/. I've tried it and indeed sponsored posts are not hidden on Android

[2016-11-29 15:27] yan12125 commented on #2
Just looked into facebook sponsored posts on Firefox for Android. Each post (normal and sponsored) is formed as an ```<article>```. All ```<article>``` elements have a ```data-ft``` attribute. For example, for a sponsored post: (all reformatted)
[code]
And for a normal post:
[code]
The ```mei``` field of a sponsored post can be further reformatted as:
[code]
There are 6 items. On the web page ther

[2016-12-31 15:07] yan12125 opened #3 "Use native DOM instead of jquery and underscore"
Today I got the review feedback for the Firefox version:

Maybe I can have a look (if I'm not lazy :)

[2017-01-01 13:37] tiratatp commented on #3
I think native dom access doesn't have the "has" operator that I need.

On Sat, Dec 31, 2016, 9:07 AM Yen Chi Hsuan <notifications@github.com>
wrote:

[2017-02-05 14:39] dhicks opened #4 "Suggested Posts are back"
This extension has worked well for me since last year.  However, over the last few weeks, I've noticed Suggested Posts have started showing up in my feed again.  I'm attaching a txt containing the html of a Suggested Post that's on my feed right now.

[suggested post.txt](https://github.com/tiratatp/facebook_adblock/files/753030/suggested.post.txt)

[2017-02-06 18:54] tiratatp commented on #4
Fixed in 1.1.5

[2017-02-06 18:54] #4 closed

[2017-02-06 18:56] tiratatp commented on #3
You could write your own throttle function instead of using underscore.js. But using jQuery and Underscore makes it easier to maintain.

[2017-02-06 18:56] #3 closed

[2017-02-06 18:57] tiratatp commented on #2
I fixed the issue on mobile version since 1.1.4 by adding,
$("article.acw").remove();

Let me know if it's working.

[2017-02-06 18:57] #2 closed

[2017-02-07 09:08] yan12125 commented on #2
It's working on Firefox, too. Thanks!

[2017-02-22 19:35] tiratatp commented on #3
I wrote version 1.2.0 without external dependency.

[2017-02-23 16:41] yan12125 commented on #3
Awesome! Today responding the DMCA notice has done me :( Will test it tomorrow.

[2017-02-25 18:22] tiratatp opened #7 "Supported Groups on Mobile"
@yan12125 do you know what's the "Supported Groups" that the user was talking about on Firefox?

I tried using Chrome to emulate mobile devices but I could not find this.

[2017-02-25 18:39] yan12125 commented on #7
Dunno. Maybe ask him/her for a screenshot?

[2017-02-25 18:46] tiratatp commented on #7
Could you reply with the instruction to get a screenshot?

On Sat, Feb 25, 2017, 12:39 PM Yen Chi Hsuan <notifications@github.com>
wrote:

[2017-02-25 18:50] yan12125 commented on #7
AFAIK steps to take a screenshot vary among different Android phones.

[2017-02-27 06:51] yan12125 commented on #7
Ahh, I didn't realize you were talking about comments on https://addons.mozilla.org/en-US/firefox/addon/fb_ad_block/... I've edited my original reply

[2017-06-24 17:01] ymps3502 opened #9 "Remove "Recommended for you" posts"
These are some recommended post on my feed. And I found just adding '._1s31' in queries can solved this problem.

[2017-08-14 20:48] oneturkmen commented on #9
Can take this issue. Working on PR.

[2017-11-30 03:54] tiratatp commented on #7
Probably not relevant anymore.

[2017-11-30 03:54] #7 closed

[2017-11-30 03:54] tiratatp commented on #9
Probably not relevant anymore.

[2017-11-30 03:54] #9 closed

[2017-12-08 15:08] dhicks opened #10 "Suggested Posts are back"
As the title says.  HTML with an example Suggested Post is attached. (For some reason my XML filter wouldn't clean this up automatically, and it looks like I mismatched some of the <div>s when I was cleaning manually.)

[suggested post 2017-12-08.html.txt](https://github.com/tiratatp/facebook_adblock/files/1542994/suggested.post.2017-12-08.html.txt)

[2017-12-08 16:27] tiratatp commented on #10
Could you try to test it?
When you go to console and enter this,
document.querySelectorAll("span > div > div > a[href='#']:only-child")
does it only select stuff in the suggested post?

[2017-12-08 17:49] dhicks commented on #10
Yes, it appears to select just the “Sponsored” text in a Suggested Post.

[2017-12-09 17:43] tiratatp commented on #10
Published version 1.3.5

[2017-12-09 17:43] #10 closed

[2017-12-18 12:03] yan12125 commented on #10
I've uploaded version 1.3.6 for Firefox. Sorry for the delay - I was out of Internet in the past 3 weeks.

[2018-08-30 01:31] GetGankNow opened #11 "Block all post's"
Just block all post's but not the suggestions of friends.

[2018-08-30 15:02] tiratatp commented on #11
I've fixed it in 1.4.0. Please wait for an update.

[2018-08-30 15:02] #11 closed

[2018-08-30 15:35] GetGankNow opened #12 "Again block all posts"
Again block all posts even after the update.
Doesn't block suggestions of friends.

[2018-08-30 15:53] GetGankNow commented on #11
I have Chrome 68.0.3440.106 and the extension has updated to 1.4.0 but doesn't works again.

[2018-08-30 15:58] GetGankNow commented on #12
Same problem on the Firefox 61.0.2

[2018-08-30 16:03] yan12125 commented on #12
I can confirm the issue on Firefox 62.0 rc1. Not investigated yet.

[2018-08-31 21:54] GetGankNow commented on #12
This block ads : facebook.com###substream_1:has([id^="feed_subtitle_"]:has-text(Sp))

[2018-09-01 04:59] dhicks commented on #12
I'm not sure if this is what @GetGankNow means, but for the last couple of days this extension is blogging everything except "People You May Know."  Looking at #11 I'm guessing 1.4.0 was a little too aggressive.  I'd try reverting, but I'm not sure how.  I'm on Chrome 68.0.3440.106.

[2018-09-01 05:06] dhicks commented on #12
In case it's helpful, here's a few lines from the console.  I get about 120 lines like this just from loading Fb.
[code]

[2018-09-02 00:24] walterramjet opened #13 "my normal facebook feeds in my "home" area are blocked in facebook or this facebook adblocker"
using Firefox, the facebook adblock is also blocking my normal feeds from groups I am following.  This started last week, i think.  If I use Chrome, facebook works fine so I went to my addons in Firefox and disabled facebook adblock and now my feeds are coming in like normal. I wonder whats going on?
thanks,
Walt

[2018-09-02 04:27] yan12125 commented on #13
Sounds like a duplicate of #12

[2018-09-02 18:15] tiratatp commented on #13
Duplicate of #12

[2018-09-02 18:15] #13 closed

[2018-09-02 18:16] tiratatp commented on #12
I'm out of town at the moment. I'll work on it again on Tuesday.

[2018-09-05 06:39] tiratatp commented on #12
I published a new version 1.4.3. Please help test it.

[2018-09-05 11:38] yan12125 commented on #12
I've uploaded version 1.4.3 to Mozilla. Unwanted stuffs in the sidebar (friend suggestions, etc.) are blocked, while sponsored posts not. The good news is normal posts are back.

[2018-09-07 03:33] tiratatp commented on #12
I've updated to 1.4.4 that does not depends on CSS class.

[2018-09-07 03:33] #12 closed

[2018-09-07 03:59] yan12125 commented on #12
Version 1.4.4 uploaded to Mozilla. It works fine!

[2018-09-23 11:52] GKid94 opened #14 "Block Popular Facebook Videos"
Can you please also block the popular Facebook videos

![431231](https://user-images.githubusercontent.com/18757054/45927733-f0459a80-bf37-11e8-990b-34beed496ddd.jpg)

[2018-09-24 23:12] GKid94 opened #15 "Needs Constant Updating"
The extension needs constant updating

[2018-09-25 04:17] tiratatp commented on #15
Can you explain the issue more? I don't understand what you try to say.

[2018-10-25 04:02] ClearSEM opened #16 "Block 3d ads"
More of a suggestion, facebook is rolling out 3d ads, hope this extension will block them as well.

[2018-11-09 21:31] boutzamat opened #17 "Just blinking and wont load feed."
Suddenly my feed is blinking and loading no posts, while at the same time the javascript console is freaking out with log messages.

This is what im seing in console log:
`[div#hyperfeed_story_id_5be5fc4a8a64b0824110769._5jmm._5pat._3lb4.u_4-v_-xz6]0: div#hyperfeed_story_id_5be5fc4a8a64b0824110769._5jmm._5pat._3lb4.u_4-v_-xz6length: 1__proto__: Array(0)
`

[2018-11-09 21:35] tiratatp commented on #17
What's the version of the extension that you have?
chrome://extensions/

[2018-11-09 21:38] boutzamat commented on #17
1.4.9

[2018-11-11 18:59] brendanjones commented on #17
+1 to this. I'm having exact same UI/console log errors as @boutzamat . Also on 1.4.9.

[2018-11-28 10:21] Maeldor commented on #17
Started getting this today, also 1.4.9. Can confirm the console is showing all posts are being blocked except for "Friend requests". Will have to disable extension until this is fixed :(

[2018-11-28 15:07] dhicks commented on #17
Here's a top-level `<div>` for a story that's not being recognized by the whitelist:

    <div data-fte="1" data-ftr="1" class="_5jmm _5pat _3lb4 u_287ulanvw" id="hyperfeed_story_id_5bfeaca11ba413d30489205" data-testid="fbfeed_story" data-cursor="MTU0MzQxNjk4NzoxNTQzNDE2OTg3Ojc6ODUzOTQ3NjMzOTgwMzY0MDAwNzowOjY2Mjg5MjU0ODQ5Mzk3ODIzNzc=" data-dedupekey="8539476339803640007" data-timestamp="1543406138

[2018-11-29 01:34] yan12125 commented on #17
Version 1.4.10 is now on Mozilla Addons.

[2018-12-03 07:51] yan12125 opened #18 "Normal posts in some groups are blocked (Firefox)"
Normal posts in one of my private group is blocked. The victim triggers the rule `h5 + [id*="feed_subtitle"] span[role="presentation"]`. Here's a screenshot of partial DOM tree of the victim post:

![default](https://user-images.githubusercontent.com/1937689/49359695-e13a5000-f711-11e8-9f4e-5511e2a95761.png)

I don't find similar issues in other groups, though.

[2018-12-13 10:14] orlinbox opened #19 "You can check this one for ideas."
https://github.com/orlinbox/remove-fb-ads/blob/master/no_fb_ads.js

[2019-02-03 09:21] swittenberger opened #20 "Extension doesn't work anymore on Chrome Version 72.0.3626.81"
When loading FB on this version of Chrome nothing will load in the feed.
http://prntscr.com/mfyadb

[2019-02-03 16:53] tiratatp commented on #20
Can you open developer console and copy the log messages?

On Sun, Feb 3, 2019, 1:21 AM swittenberger <notifications@github.com> wrote:

[2019-02-03 19:07] Stormalong commented on #20
I also encountered this. Console output:

Monitoring Array(1)
ZlC1WF904hQ.js:299
Stop!
ZlC1WF904hQ.js:299
This is a browser feature intended for developers. If someone told you to copy-paste something here to enable a Facebook feature or "hack" someone's account, it is a scam and will give them access to your Facebook account.
ZlC1WF904hQ.js:299
See https://www.facebook.com/selfxss for more inform

[2019-02-03 20:57] tiratatp commented on #20
It doesn't look like my extension is removing anything. Is there anything
else in the log?

On Sun, Feb 3, 2019, 11:07 AM Eric Stern <notifications@github.com> wrote:

[2019-02-03 22:29] blwanta opened #21 "Ad Blocker for Facebook™"
The Ad Blocker for Facebook™ add-on for Firefox has stopped working.  I have been seeing only "Sponsored" ads for the past two days now.

[2019-02-07 05:34] tiratatp commented on #20
This should be fixed in 1.4.11

[2019-02-07 05:34] #20 closed

[2019-02-07 05:36] tiratatp commented on #19
Thanks. Good idea

[2019-02-07 05:36] #19 closed

[2019-02-07 05:38] tiratatp commented on #21
I've fixed in 1.4.11. I'll ping Firefox maintainer @yan12125 .

[2019-02-07 05:53] tiratatp commented on #14
I think they are okay since they are not paid advertisement.

[2019-02-07 05:53] #14 closed

[2019-02-07 05:54] tiratatp commented on #16
I'll look into that once I got them.

[2019-02-07 05:54] tiratatp commented on #18
I think with 1.4.11 should fix this. Can you confirm?

[2019-02-07 06:23] GKid94 commented on #14
But it's still a sponsored post

[2019-02-07 06:24] tiratatp commented on #14
Are you sure? I didn't see the word "sponsored".

[2019-02-07 06:36] GKid94 commented on #14
It is since it's showed to all the people who use Facebook, even the ones who don't care about that post

[2019-02-07 06:38] tiratatp commented on #14
Sorry that's not the definition of "sponsored". Sponsored means someone
paid Facebook to promote it.

On Wed, Feb 6, 2019, 10:36 PM Stefan Končar <notifications@github.com>
wrote:

[2019-02-07 06:44] GKid94 commented on #14
They did since Facebook is spamming the posts to all users

[2019-02-09 03:15] daemonpun opened #22 "Block "Similar to Posts You've Interacted With""
Could u add this new type of ad, which is essentially trying to push other pages onto you. Please add it to the pile.

[2019-02-09 03:19] daemonpun commented on #22
Also this is just a theory, but i think there an event listener on their ads/push crap/sponsored bs that checks to see if u seen their ad, then it edits the code to promote more of that bypassing the blockers. just a theory

[2019-02-10 08:14] yan12125 commented on #18
Yes this is fixed! I've uploaded 1.4.12 to Mozilla, too. Sorry for the delay - I was on Chinese New Year vacation last week :)

[2019-02-10 08:14] #18 closed

[2019-02-20 08:38] duongtuannhat opened #23 "Not working in Vietnamese language"
It cannot block sponsored ads in vietnamese language, but when I change language to En-US, It work

[2019-02-20 17:24] daemonpun opened #24 "Needs updating. its not working anymore."
chrome 72.0.3626.109  stopped working with feed ads. There are so many ads in feed.
I'd also like to help. I have a MS in CS and worked with HTML and javascript. Jquery not so much.

[2019-02-21 00:21] tiratatp commented on #24
You can try to fix it yourself, and then it locally, and then submit a pull
request.
--
Tiratat Patana-anake

On Wed, Feb 20, 2019 at 9:24 AM daemonpun <notifications@github.com> wrote:

[2019-02-21 06:00] tiratatp commented on #22
I'll look into the "Similar to Posts You've Interacted With". I don't think I've seen it yet.

I don't think Facebook knows that you have blocked ads since the extension does not block the network request of the ads.

[2019-02-21 06:04] tiratatp commented on #23
I looked into this.

It's bit more complicated that I thought. The html layout is completely different.

[2019-02-21 06:05] tiratatp commented on #24
Fixed in 1.4.13

[2019-02-21 06:05] #24 closed

[2019-02-21 08:36] tiratatp commented on #23
Fixed in 1.5.0

[2019-02-21 08:36] #23 closed

[2019-02-21 08:37] #21 closed

[2019-02-26 06:59] yan12125 opened #25 "New "Sponsored" layout"
Facebook developers are creative. It's a pity to say that but I must face the truth.

![image](https://user-images.githubusercontent.com/1937689/53393272-e1777e00-39d6-11e9-978b-9431293ff536.png)

PS: Cropped from English version of Facebook.

[2019-02-26 08:19] tiratatp commented on #25
Hi Chih-Hsuan,

The 1.5.0 should work with this right?

[2019-02-26 08:20] tiratatp commented on #25
https://github.com/tiratatp/facebook_adblock/blob/10f62270f8953951e6248b1a33aeef45a72b22b0/content.js#L106 recursively goes into each child and get the visible text.

[2019-02-26 08:22] yan12125 commented on #25
I'm using 1.5.0. Let me check if there's version mismatch in the Firefox addon.

[2019-02-26 09:23] yan12125 commented on #25
Looks like the problem is in the blacklist. None of the four blacklist filters (https://github.com/tiratatp/facebook_adblock/blob/master/content.js#L70) appears in the Firefox version of Facebook.

[2019-02-26 17:53] tiratatp commented on #25
Blacklist are not being used anymore. It should fall back to
https://github.com/tiratatp/facebook_adblock/blob/master/content.js#L149

Maybe this does not work, div[id^="feed_sub_title"] > :first-child

On Tue, Feb 26, 2019, 1:23 AM Chih-Hsuan Yen <notifications@github.com>
wrote:

[2019-03-09 16:42] yan12125 commented on #25
This issue seems to have disappeared in version 1.6.1. By the way, I've uploaded 1.6.1 to the Mozilla website.

[2019-03-09 16:42] #25 closed

[2019-03-13 15:49] #22 closed

[2019-04-21 15:48] Mike-CZ opened #28 "Another language"
Hey, could you please add 'Sponzorováno' into sponsoredTexts array for czech language? thx

[2019-04-21 16:17] Zeyadrizk commented on #28
Same is here, could you please add "مُموَّل" into sponsoredTexts for Arabic?

[2019-04-21 22:04] tiratatp commented on #28
Added in 1.6.4

[2019-04-21 22:04] #28 closed

[2019-04-21 22:07] tiratatp commented on #16
I haven't seen them, so I'll close this until it's back.

[2019-04-21 22:07] #16 closed

[2019-05-20 23:36] jcvr1994 opened #29 "Sponsored adds"
Hi Thanks for maintaining a great app! However, I'm still seeing sponsored links on my newsfeed.

[2019-05-27 21:06] #29 closed

[2019-06-04 09:04] AngelinCalu opened #30 "Sponsored posts still visible"
The 'Sponsored' posts are still visible.

Maybe because the text 'Sponsored' is divided by letters, each in it's own container element. Please look at the FB source below:

`<span class="b_hlo3kw6sr d_hlo3kuzn6" data-ft="{&quot;tn&quot;:&quot;j&quot;}"><span class="fsm fwn fcg"><span class="z_hlo3kvwq7"><a class="c_hlo3kvza3 j_hlo3kvz9-" role="button" id="u_ps_0_0_d"><b class="l_hlo3kvza0 h_hlo3kv

[2019-08-09 06:42] tiratatp commented on #30
Thanks, Angelin. We saw this DOM splitting behavior since February.

I think what you saw here was because other issue. I just uploaded 1.6.7, please try that and let me know if it has fixed your issue or not.

[2019-08-09 15:18] alonmln commented on #30
Hi, I'm using 1.6.7 on Chrome 75 and it doesn't block the sponsored posts as well.
This is how I see the text:
`<div class="_5pcp _5lel _2jyu _232_" data-testid="test-id-story-sub-title" id="storymetaidNUM;NUM;0;NUM;NUM:NUM:5:0:NUM">
		<span class="g_at_lgq01s s_at_lgoy-_" data-ft="{&quot;tn&quot;:&quot;j&quot;}"><span class="fsm fwn fcg"><span class="l_at_lgpu8y"><a class="q_at_lgprj4 i_at_lgprin

[2019-08-09 15:50] tiratatp commented on #30
The new version should catch this. Maybe there's another trick that
Facebook used.

Can you see what's the difference between the CSS of the element with
data-content S and the one before that?

On Fri, Aug 9, 2019, 8:27 AM alonmln <notifications@github.com> wrote:

[2019-08-10 10:59] alonmln commented on #30
Hmm, that is weird, I don't see a difference, but when I look now it is different:
`<span class="m_at_lgprj3 t_at_lgprik a_at_lgpriq"><span data-content="o" class="m_at_lgprj3 d_at_lgqf0a c_at_lgpri_"></span></span>
<span class="m_at_lgprj3 t_at_lgprik a_at_lgpriq"><span data-content="S" class="m_at_lgprj3 d_at_lgqf0a v_at_lgprj0"></span></span>`

[2019-08-10 20:02] tiratatp commented on #30
The class name is randomly generated. They are not as useful now, what we
need to know is the effective CSS on that element.

On Sat, Aug 10, 2019, 3:59 AM alonmln <notifications@github.com> wrote:

[2019-08-13 04:25] hsingh23 opened #32 "Thank you for all you do!"
Not a bug, just a digital hug!

[2019-08-13 06:15] tiratatp commented on #32
Haha thanks!

[2019-08-13 06:15] #32 closed

[2019-08-13 06:52] tiratatp commented on #30
Could you try again with 1.6.9? I think I fixed another one.

[2019-08-13 18:21] doronbehar opened #33 "Suggested events are not blocked"
Hey!

Thanks for creating this neat extension :smile: . It's one of the only ones I've checked which actually work and are truly open source and that the developer is responsive (the issues testify so).

Is facebook_adblock supposed to block/hide suggested events 'posts'? I'm seeing the following in
my feed:

![selection:2019 08 13-21:11:59](https://user-images.githubusercontent.com/10998835/62966

[2019-08-13 20:39] tiratatp commented on #33
Haha thanks for the kind words. It's fun for me to do it.

I think there was another issue about this "suggested event". To me if it's not paid post, I would prefer not to block it unless someone shows me that "suggested event" is paid for by someone.

For the Sponsored posts that you saw, is the word "Sponsored" in Hebrew?

The way to debug is a bit more manual than that.

The code works by findi

[2019-08-14 17:54] doronbehar commented on #33
Thanks for coming back to me :)

I respect your decision as for 'Suggested Events' although personally I'd prefer to hide it is well. Perhaps this could be implemented along with a boolean preference in the extension's options page?

No, my feeds' content is in Hebrew but my Facebook account is configured in English so "Sponsored" appears in Hebrew.

I used the HTML inspector to catch the entire `

[2019-08-14 17:56] tiratatp commented on #33
The div that you included is very useful. From that I could see that I need to add "testid-storysub-title" to my list.

[2019-08-14 17:58] tiratatp commented on #33
I've considered adding the config page, but it seems like a lot of work.

Why do you feel like you want to hide "Suggested Events"? Facebook already have your data, if they process it and suggest it to you maybe it's worth looking at. If it is not being influenced by an advertiser then I think it's okay.

[2019-08-14 18:05] doronbehar commented on #33
Cool :+1:! Are you going to do patch it and update the extension right now? Or shall I test it on my computer first?

BTW, why do you include `dist/` in the Git repository? The files there are automatically created by rollup. It was confusing for me when I've tested some changes..

Yea you are right :disappointed:... But to me, the extension is more of a UX enhancer rather then a privacy enhancer.

[2019-08-14 18:06] tiratatp commented on #33
Just uploaded 1.6.10.

[2019-08-14 18:09] doronbehar commented on #33
Nice, thanks. Should it also be updated in Firefox? The latest version there is 1.6.5.

[2019-08-14 18:09] tiratatp commented on #33
I see. I want to keep my code as simple as possible. So it's easy for people to understand that I'm not doing anything funny.

If you want to submit a merge request for a simple config page, I'll review and merge!

You are right that I don't need to include dist/, but again I want to be transparent. I also want to include the firefox in dist at some point too.

[2019-08-14 18:10] tiratatp commented on #33
For Firefox, usually @yan12125 is the one who upload it.

[2019-08-14 18:10] tiratatp commented on #33
Feel free to open a new issue/merge request for "Suggested event".

[2019-08-14 18:10] #33 closed

[2019-08-14 18:22] tiratatp commented on #30
I just upload 1.6.10

[2019-08-15 04:24] yan12125 commented on #33
Version 1.6.10 uploaded :)

https://addons.mozilla.org/zh-TW/firefox/addon/fb_ad_block/versions/

[2019-08-20 16:15] tiratatp commented on #30
Close this since there's no reply from OP.

[2019-08-20 16:15] #30 closed

[2019-08-20 18:29] juaxix opened #34 "Ads are still appearing"
Hello ,I wonder how hard is to trap this one
![image](https://user-images.githubusercontent.com/996806/63373951-23cbb780-c389-11e9-9ed1-4e43bed2fa1e.png)

[2019-08-20 18:34] tiratatp commented on #34
Thanks for reporting the bug.

Can you confirm the version of the extension you are using?

I need to see a code for a few level above this ".userContentWrapper". Can you copy the whole HTML of one the the sponsored post? Try to find the top most level parent.

[2019-08-20 19:38] juaxix commented on #34
Yes, this is the HTML code for this particular ad
![image](https://user-images.githubusercontent.com/996806/63378600-e10edd00-c392-11e9-996f-694071cbf0cb.png)

`<div data-fte="1" data-ftr="1" class="_5jmm _5pat _3lb4 u_14tld3hn46" id="hyperfeed_story_id_5d5c4bcc7f5802d96869181" data-testid="fbfeed_story" data-cursor="MTU2NjMyOTgwMjoxNTY2MzI5ODAyOjM6MzU5MTQxMTQ5MTExMzU3NjAzMzowOjY3MjczMzUyNzU3NDQ1M

[2019-08-20 20:17] tiratatp commented on #34
I'll upload the new version when I get home.

[2019-08-20 21:31] AngelinCalu commented on #30
Sorry guys, I've become father for the second time and I really had no chance to check it out.

[2019-08-21 05:45] tiratatp commented on #34
Version 1.6.11 published

[2019-08-21 05:45] #34 closed

[2019-08-21 21:21] juaxix commented on #34
Worked perfectly :) good catch btw!

[2019-10-05 20:48] gellenburg opened #41 "It stopped working."
Brave Version 0.69.132 Chromium: 77.0.3865.90 (Official Build) (64-bit)

Sponsored posts have returned.

[2019-10-05 22:46] tiratatp commented on #41
Can you share a screen shot?

On Sat, Oct 5, 2019, 1:48 PM George Ellenburg <notifications@github.com>
wrote:

[2019-10-05 23:28] gellenburg commented on #41
Ok, that's weird. Now it's working. I swear it wasn't working earlier today.

Sorry for the trouble.

[2019-10-05 23:28] #41 closed

[2019-10-05 23:56] tiratatp commented on #41
No worry. It takes a few seconds for the extension to hide the posts.

On Sat, Oct 5, 2019, 4:29 PM George Ellenburg <notifications@github.com>
wrote:

[2019-10-06 11:39] dodona2 commented on #41
--- Ursprüngliche Nachricht ---
Von: George Ellenburg <notifications@github.com>
Datum: 05.10.2019 22:48:52

same with Waterfox 56.2.14

[2019-10-31 14:08] tomo54321 opened #43 "Sponsored Posts Still Showing"
Hi,

I've just now installed the extension, certain posts are getting blocked (I've checked the console to confirm) however some aren't, see below:
![image](https://user-images.githubusercontent.com/20615869/67953768-aa9ddb80-fbe7-11e9-8542-320ae3c047f2.png)

When taking a look it appears each letter in the word "Sponsored" is in its own element as shown here -
![image](https://user-images.githubu

[2019-10-31 15:42] tiratatp commented on #43
I haven't seen that in my Facebook. Can you confirm your extension version?

This technique to construct the word "Sponsored" from multiple `<span/>` is not new, we should be able to block this.

In many `<span/>` you sent me some will be hidden (those that does not spell "Sponsored"), can you show me the CSS of the `<span>` that is being hidden?

[2019-11-01 15:42] tomo54321 commented on #43
Thanks for the reply!

The extension version I am using is 1.7.1 (I have only just downloaded it from the extension store)

Here is the CSS from a `<span>` that isn't being shown.
![image](https://user-images.githubusercontent.com/20615869/68036014-bad3ba80-fcbc-11e9-9168-548dd51d1303.png)

Let me know if you need me to post anything else :)

[2019-11-01 16:13] tiratatp commented on #43
Hmm we should be able to catch this. I'm not sure why. It's hard to debug this without getting this ads myself. I'm sorry but you might have to wait.

[2019-11-05 10:39] SABokkie commented on #43
I am also having same problem. So frustrating as its getting to be more ads than being able to see comments/posts

[2019-11-06 01:33] martinmenchon commented on #43
Hi, I'm suffering the same problem. No word "sponsored" is shown but ads are there, I think facebook is changing the way the show ads again =(

[2019-12-03 06:57] craigds commented on #43
Also getting this.

HTML of the sponsored post (direct child of the `<div id="feed">` node) is:

[code]

anything else i can supply to help?

[2019-12-03 07:14] tinybit commented on #43
same problem...

[2019-12-03 07:16] tinybit commented on #43
<img width="868" alt="Screenshot 2019-12-03 15 16 09" src="https://user-images.githubusercontent.com/178817/70028536-dabe0d00-15df-11ea-8e55-e9b3ff641874.png">

[2019-12-14 14:45] stephanebruckert commented on #43
Same thing

<img width="1271" alt="Screenshot 2019-12-14 at 14 44 37" src="https://user-images.githubusercontent.com/1932338/70850262-488bf380-1e80-11ea-963c-a8bfbec58369.png">

[2019-12-14 17:21] stephanebruckert opened #44 "Hiding posts that are not ads"
A post was hidden:

![1](https://user-images.githubusercontent.com/1932338/70852163-1a191300-1e96-11ea-9e22-35018ceeb546.png)

But it wasn't an ad:

![2](https://user-images.githubusercontent.com/1932338/70852165-1e453080-1e96-11ea-9c6b-b60875b4dfaf.png)

[2020-01-02 01:59] stephanebruckert commented on #43
I'm not using this extension anymore. I've added that rule to my ublock origin extension and it works:

[2020-01-02 01:59] stephanebruckert commented on #44
This works well https://github.com/tiratatp/facebook_adblock/issues/43#issuecomment-570102584

[2020-01-02 01:59] #44 closed

[2020-01-20 23:08] risototh opened #46 "getVisibleText(...).join is not a function"
JS error in console on scroll down, when new posts are loaded into the feed:

Issue in this code:

[2020-01-22 21:25] nnathan commented on #43
Hi I'm also seeing the sponsored posts :/. Here is a screenshot. Is there any way I can help troubleshoot or debug to help Ad Blocker stay on top?

![image](https://user-images.githubusercontent.com/319907/72935666-e517ae80-3db9-11ea-9188-6fa28b6d5805.png)

[2020-01-25 12:40] tiratatp commented on #43
I'm sorry but I was in an accident and I'm still trying to recover. I think
the earliest this can be solved would be in a month unless someone fixes it
and sends me a pull request.

On Thu, Jan 23, 2020 at 4:25 AM Naveen Nathan <notifications@github.com>
wrote:

[2020-01-25 12:42] nnathan commented on #43
Mate, no need to apologise. Forget about this ticket and please focus on recovery. Don't worry about it, it's just ads : ).

Hope you have a speedy recovery.

[2020-01-25 13:03] tiratatp commented on #46
Hey Richard. Thanks for reporting the issue. Could you include the version
of your browser and the version of the extension?

On Tue, Jan 21, 2020 at 6:08 AM Richard Tóth <notifications@github.com>
wrote:

[2020-01-27 07:54] risototh commented on #46
Hi.
Chrome 79.0.3945.88
Extension 1.7.2

[2020-01-31 12:38] jmacie commented on #43
Get Well Soon. I appreciate your application, it's the only one that ever worked for me, but it stopped functioning about 2 weeks ago. Take care johnm

[2020-02-11 15:54] tiratatp commented on #43
Should be fixed in 1.7.3

[2020-02-11 15:56] tiratatp commented on #46
Should be fixed in 1.7.3

I think this is caused by some dependencies. I updated them and I cannot reproduce.

[2020-02-11 15:56] #46 closed

[2020-02-11 16:08] tiratatp commented on #43
I've published 1.7.3 to Chrome.

@yan12125 can you help with Firefox version?

[2020-02-11 16:08] #43 closed

[2020-02-12 02:17] yan12125 commented on #43
Sure! 1.7.3 is uploaded to Mozilla Add-ons. Thanks for fixing this!

[2020-02-12 05:12] jmacie commented on #43
Thank you, you save us all!

[2020-02-18 16:48] pa28236 opened #47 "When will this be ready for Chrome?"
I see there have been changes to create version 1.73 for Mozilla. When will this be ready for Chrome? There are a lot of "Sponsored" ads that are not getting blocked in Chrome.
Thanks!

[2020-02-18 16:59] tiratatp commented on #47
Thanks for contacting me. The extension is still being reviewed by Google.
They said it will take a few business days.

On Tue, Feb 18, 2020, 08:48 pa28236 <notifications@github.com> wrote:

[2020-02-18 17:05] tiratatp commented on #47
It has been a week, but they said it could take weeks. They also said I could open a ticket if it takes longer than 3 weeks. https://developer.chrome.com/webstore/faq#faq-listing-108

[2020-02-18 17:11] pa28236 commented on #47
Thanks for the reply. Appreciate the good work you are doing. I’ll sit tight!

From: Tiratat P. [mailto:notifications@github.com]
Sent: Tuesday, February 18, 2020 12:00 PM
To: tiratatp/facebook_adblock <facebook_adblock@noreply.github.com>
Cc: pa28236 <steve_h_miller@yahoo.com>; Author <author@noreply.github.com>
Subject: Re: [tiratatp/facebook_adblock] When will this be ready for Chrome? (#47)

T

[2020-03-24 03:03] dan2bit opened #48 "New changes from FB?"
As spotted in the wild today (Chrome extension 1.72) Chrome Version 80.0.3987.149 - the code snippet below is the "Sponsored" span for a post that got through, as shown in Chrome Inspector.

`<span class="f_1am1fq514z"><a class="k_1am1fq541x x_1am1fq541-" role="button" id="u_fetchstream_5_16" aria-labelledby="4e43b979-8995-4e15-86f7-3ac97ea12a74"><span class="g_1am1fq541u z_1am1fq541z i_1am1fq542b

[2020-03-24 06:40] dodona2 commented on #48
I confirm that. I'm forced using 0.2.1, hope the bug fix will be applied to this outdated plugin.

[2020-03-24 14:33] tiratatp commented on #48
Hey thanks for reporting the bug. I'll look through them and get back to
you.

On Tue, Mar 24, 2020, 01:40 dodona2 <notifications@github.com> wrote:

[2020-03-28 14:43] tiratatp commented on #48
Fixes in 1.7.4 @yan12125  can you help upload to Firefox?

[2020-03-28 14:43] #48 closed

[2020-03-28 14:44] tiratatp commented on #48
Chrome extension update are blocked by #47

[2020-03-28 14:55] tiratatp commented on #47
I cut them another ticket today.

[2020-03-28 15:26] yan12125 commented on #48
Thanks for the update! 1.7.4 is uploaded https://addons.mozilla.org/zh-TW/firefox/addon/fb_ad_block/versions/.

[2020-03-31 17:01] tiratatp commented on #47
1.7.3 is now live in Chrome Web Store after a help from Chrome Web Store team.

I also published 1.7.4 but it will need to go through another review.

[2020-03-31 17:04] pa28236 commented on #47
Works perfectly now. Thank you!!!

From: Tiratat P. [mailto:notifications@github.com]
Sent: Tuesday, March 31, 2020 1:01 PM
To: tiratatp/facebook_adblock <facebook_adblock@noreply.github.com>
Cc: pa28236 <steve_h_miller@yahoo.com>; Author <author@noreply.github.com>
Subject: Re: [tiratatp/facebook_adblock] When will this be ready for Chrome? (#47)

1.7.3 is now live in Chrome Web Store after a hel

[2020-03-31 21:38] tiratatp commented on #47
1.7.4 is also on Chrome

[2020-03-31 21:38] #47 closed

[2020-04-05 21:06] cbotsikas commented on #43
Well if you have uBlock installed, you can use the following filter to get rid of the sponsored posts:
`facebook.com##div[id^=hyperfeed_story_id]:not(:has(abbr))`
Open ubBlock Dashboard -> My Filters -> add the text in the text area -> Click Apply changes

this selector is basically the same to [the code](https://github.com/tiratatp/facebook_adblock/commit/216fc27a6d8556d97e40ade0215042fa71037cc5)

[2020-04-07 06:35] risototh opened #50 "Looped loading of items"
Today, the extension loops loading and deleting the facebook posts.
See it on my video https://youtu.be/d1wTpoNyY1E

[2020-04-07 08:02] raymondsteers commented on #50
Same issue on Chrome Version 80.0.3987.149 (Official Build) (64-bit) (macos)

[2020-04-07 14:33] cbotsikas commented on #50
wow. unbelievable... I can confirm. They've updated facebook and the date is no longer in an abbr element but scrambled with span line the "Sponsored" text. I'll PR a fix. I guess they are monitoring plugin development like this one, if you consider that we pushed the new rule yesterday and was patched already...
![image](https://user-images.githubusercontent.com/1640100/78681531-27e32000-78ed-11e

[2020-04-07 14:53] dlathem opened #51 "Facebook Ad Blocker no longer works"
This morning my WIN 10 Facebook page began flashing timeline content....the page could not be used.  I disabled the Facebook AD blocker and that solved the problem.  I re-installed the Ad Blocker and the problem came back.  So, apparently Facebook has figured out how to make your great ad blocker ineffective.  I have uninstalled it again and my FB page is back to normal.

[2020-04-07 14:56] cbotsikas commented on #51
hi @dlathem yes, you are correct. facebook did change some code today. It's already tracked with issue https://github.com/tiratatp/facebook_adblock/issues/50 and hopefully fixed ASAP. Sorry about that. I feel bad because the code that no longer works was mine...

[2020-04-07 15:00] dlathem commented on #51
OK...I can no longer find the extension on line.  Have you pulled it down?  I saw your post after I posted mine and saw where you talked of a patch so Installed it again with the same result.  Now an extension search turns up nothing.  Thanks for this extension.

[2020-04-07 15:07] cbotsikas commented on #51
No, the extension is still up. You can find it on the following link: https://chrome.google.com/webstore/detail/ad-blocker-for-facebook/kinpgphmiekapnpbmobneleaiemkefag

All credits for this extension goes to the author @tiratatp. I can only take the blame for the latest aggressive rule that broke your feed.. I have the fix ready but the author needs to accept it and push the update to the store..

[2020-04-07 15:34] #50 closed

[2020-04-07 15:37] tiratatp commented on #50
Fixed in 1.7.6. Sorry about this guys.

[2020-04-07 15:39] tiratatp commented on #51
Hey @cbotsikas thanks for fixing this so fast. Yeah I think what you see if a duplicate of #52

This should be fixed in 1.7.6 for Chrome. For Firefox you are unaffected.

[2020-04-07 15:39] #51 closed

[2020-04-07 15:59] cbotsikas commented on #51
@dlathem I've tested the latest available version (1.7.6) from the store and works ok now.

[2020-04-07 23:22] arslnb opened #53 "Facebook Adblock does/will not work with new facebook UI"
I'm on the beta for the new facebook all-ReactJS UI featuring dark mode etc, and the plugin breaks. Just a heads up :)

Check out the screensot. Plugin version 1.7.6, Google Chrome Version 80.0.3987.163 (Official Build) (64-bit)

Can still see all ads in the timeline as well as the sidebar.

<img width="1904" alt="Screen Shot 2020-04-07 at 4 17 08 PM" src="https://user-images.githubusercontent.com

[2020-04-08 16:21] cbotsikas commented on #53
@arslnb I've created PR #54 to support the new FB5 design. In my tests though, I never got a sponsored ad on the right sidebar so i've only addressed the sponsored feed posts.

[2020-04-08 16:39] tiratatp commented on #53
@arslnb can you take a look at #54 and maybe comment?

[2020-04-13 02:00] tiratatp commented on #53
Fixed in 1.8.0

[2020-04-13 02:00] #53 closed

[2020-04-13 02:04] tiratatp opened #57 "Refactor a code into FB5 code path and older FB code path"
## Why?

Right now `onPageChange()` is shared between old Facebook and FB5 code path. We should refactor old code and new old into two distinct functions so we could deprecate old code easily.

## Acceptance Criteria
- Two new functions that do not share variable or state
   - One should handle old Facebook; another should handle FB5
- If possible, we should refactor old code into a new file so we

[2020-04-13 02:07] tiratatp commented on #57
Do you have bandwidth to work on this @cbotsikas

[2020-04-13 02:07] tiratatp commented on #53
Hey @yan12125 could you help us publish this new version? Thank you!

[2020-04-13 07:58] yan12125 commented on #53
Updated :)

[2020-04-14 17:16] tiratatp opened #58 "Explore the possibility of using Firefox addon action"
Can we use this to auto publish to Firefox https://github.com/marketplace/actions/firefox-addon-action

[2020-04-14 17:19] tiratatp commented on #58
@yan12125 do you think it's possible to create a new secret key for this addon?

[2020-04-14 17:20] cbotsikas commented on #57
I could have a look on Friday

[2020-04-14 17:29] cbotsikas commented on #58
May I ask why isn't the firefox add-on published by you?
Just in case you didn't know, Mozilla allows to have multiple owners and authors or even transfer ownership. You can find more info [here](https://extensionworkshop.com/documentation/publish/add-on-ownership/)

[2020-04-14 18:02] tiratatp commented on #58
I wasn't using Firefox at the time, and Chih-Hsuan said he could do it.

[2020-04-14 18:11] tiratatp commented on #58
I tried using Chrome Action to publish and I think it's working. The secrets are stored in github can never read back.

[2020-04-16 00:11] yan12125 commented on #58
Thank you very much for the invitation and this great proposal! I am +1 for automatic publishing. I will try it out for the next version.

I guess not. As far as I know Mozilla addon publishing key is per-account.

---

TODOs
* Check if https://github.com/trmcnvn/firefox-addon is secure or not
* Read https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepsuse

[2020-04-16 01:53] tiratatp commented on #58
It stores secrets with a Github repo. I did that for my Google API Key for Chrome publishing.

You can put any secrets and you cannot read it back. Not even me can read.

[2020-04-16 01:54] tiratatp commented on #58
See https://github.com/tiratatp/facebook_adblock/settings/secrets

[2020-04-16 04:56] yan12125 commented on #58
Hmm I cannot access that page.

(https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets)

[2020-04-23 12:01] cbotsikas opened #59 "New sponsored DOM"
Today some sponsored posts appeared. They've changed the DOM again..
![Annotation 2020-04-23 133325](https://user-images.githubusercontent.com/1640100/80095675-99b39e80-8568-11ea-9a54-4ef9d33e9643.jpg)

After further debugging, the injected post's DOM is using a div[role=button] (Image 1) to wrap the sponsored label and then it's changed to a[role=link] (Image 2).

Image 1:
![Annotation 2020-04-23

[2020-04-23 18:04] tiratatp commented on #59
Merged

[2020-04-23 18:04] #59 closed

[2020-04-24 10:15] cbotsikas commented on #59
@tiratatp will you release that?

[2020-04-24 15:59] tiratatp commented on #59
Sorry for the delay. I wanted to test the publish workflow. It worked now! Next time if you want to publish this to Chrome, remember to bump version in two places: `package.json` and `static/manifest.json`

[2020-04-24 15:59] tiratatp commented on #59
The new version is pending Google review. It shouldn't take too long.

[2020-04-24 16:02] tiratatp commented on #58
Hey @yan12125 I got this to auto publish to Chrome. Do you think it's possible to add me as a co-owner of your Firefox extension, so I could extract the secret keys for the auto publish purpose. Then you can remove me.

[2020-04-24 16:15] cbotsikas commented on #59
I was worried when I saw the workflow executing for my PR..
May I suggest to use Tags instead in order to trigger the auto publish? This way you should have more control and be able to merge multiple commits/PRs before triggering the publish mechanism. It should also prevent from accidental publishing without changing the version number.
I found the following searching:
[code]

[2020-04-24 16:36] tiratatp commented on #59
Yeah I was worried too haha. But luckily it failed.

I'll make the change over the weekend.

Stay safe!
—
Tiratat Patana-anake

On Fri, Apr 24, 2020 at 9:15 AM Christos Botsikas <notifications@github.com>
wrote:

[2020-04-24 17:18] yan12125 commented on #58
Sure! Looks like adding a co-owner requires the email address. Do you use the same email for the Mozilla account as the one you've sent mails to me?

[2020-04-24 17:31] tiratatp commented on #58
You can use that email.
—
Tiratat Patana-anake

On Fri, Apr 24, 2020 at 10:18 AM Chih-Hsuan Yen <notifications@github.com>
wrote:

[2020-04-24 17:44] yan12125 commented on #58
Hmm, Mozilla tells me "No user with that email."

[2020-04-24 18:06] tiratatp commented on #58
Oh I need to sign up first.

On Fri, Apr 24, 2020, 10:45 Chih-Hsuan Yen <notifications@github.com> wrote:

[2020-04-24 18:10] tiratatp commented on #58
I sent you an email with my other email for this.

[2020-04-24 19:52] tiratatp commented on #58
I set it up, but I haven't tested yet since we just release 1.8.1.

[2020-04-25 05:14] tiratatp commented on #58
It works! Now we can tag and it will publish to both Firefox and Chrome! Thank you for your help, @yan12125 and @cbotsikas

[2020-04-25 05:14] #58 closed

[2020-04-25 05:52] yan12125 commented on #58
Great!

[2020-04-28 20:36] Leibeun opened #62 "Suggested for You"
The extension successfully removes ads and sponsored posts, however the "Suggested for You" posts remain.

[2020-04-28 20:43] cbotsikas commented on #62
The "Suggested for you" posts are not considered to be ads, thus the extension doesn't remove them. [Here's](https://github.com/tiratatp/facebook_adblock/pull/49#pullrequestreview-387704037) the explanation by the owner.

Maybe there could be a simple settings menu to allow blocking those posts too.

[2020-04-28 23:46] tiratatp commented on #57
Also fixed by 23e2fd1fd149552dfac38e84e6e29f11a47fba82

[2020-04-28 23:46] #57 closed

[2020-04-29 14:55] ajsnyde commented on #62
"Suggested for you", while automatically curated and not technically paid-for, are an unwelcome and non-disableable content. Similar to the youtube end-of-video pop-ups suggesting other videos (gotta keep that dopamine cycle up), nobody really asked for them and they block the real reason you use the service.

Argument aside, does anyone know of a branch or fork with the ability to block them?

[2020-04-29 15:35] cbotsikas commented on #62
I still have my initial [commit](https://github.com/cbotsikas/facebook_adblock/commit/0c5f4fb3fa72536ff8f67b52332f31fe05450a84) which was blocking the "suggested for you" posts on the classic facebook design. The branch is outdated and breaking facebook's feed. It was written before the launch of new FB5 design.

If @tiratatp would agree on that, I could try creating a simple options menu to enabl

[2020-04-29 16:31] tiratatp commented on #62
@ajsnyde you are welcome to submit a pull request too.

[2020-05-13 07:20] davidlindercodes opened #63 "Cannot test"
Hi there,

Nice extension, I really like how your code is set up. I downloaded the files from github, and want to try and make some changes to the code for a [personal project ](https://github.com/davidlindercodes/Facebook-Ad-Hunter)I'm working on, fisrt I'm trying to test the github files, makes sure it is all there and working, but when I try to load unpacked extension to chrome I am getting the

[2020-05-13 07:54] cbotsikas commented on #63
Hi David,
In order to load it on Chrome or Firefox, you first need to build the extension.
In order to do so, you'll need to have installed on your system Node.js with npm. Then you need to download all the required building tools, use `npm install` in the project's root directory and finally you need to build the extension using `npm run build` command. If everything was successful, you should ha

[2020-05-13 07:54] #63 closed

[2020-05-23 11:58] romgrk opened #64 "Localization"
The extension works when I configure FB to be in en-US, but in my other locale (fr-CA) ads show up.

[2020-05-23 12:02] cbotsikas commented on #64
Hi @romgrk, what's the translation for "Sponsored" in french? Currently the plugin supports the languages [specified here](https://github.com/tiratatp/facebook_adblock/blob/master/src/constants.js#L14-L37)

[2020-05-23 12:06] cbotsikas commented on #64
and just realised that it has "Sponsorisé" for French...
Do you see something different when using fr-CA? Can you share a screenshot of an ad?

[2020-05-23 20:24] Leibeun commented on #64
In canadian french it's Commandité

[2020-05-24 20:52] romgrk commented on #64
I concur with @Leibeun, FB shows "Commandité" in fr-CA locale.

[2020-05-26 00:30] tiratatp commented on #64
@cbotsikas do you want to bump a version, tag and send another pull request?

[2020-05-26 00:47] cbotsikas commented on #64
Yes, I'll try that in the morning. I didn't do it cause I wasn't sure if it would trigger before merging..

[2020-05-27 07:51] cbotsikas commented on #64
@romgrk @Leibeun fr-CA is now supported by v1.8.3 and is already live on both Chrome and Firefox stores. Your browser should automatically update the plugin.

[2020-05-27 07:51] #64 closed

[2020-05-30 15:00] Robertof commented on #62
Hey, thank you for the great work on maintaining this extension!

FWIW I looked at how the "Suggested for you" posts are represented in FB5's DOM and it's a bit of a mess. I've found that matching the text is effective but it would obviously require a list of translated strings like there currently is for sponsored posts.

This is the uBlock Origin rule I'm currently using at the moment which work

[2020-05-31 17:07] RipTornSideways opened #67 "Doesn't work with "New Facebook" on chrome"
As the title says, Old facebook look was running like garbage for me(they probably made it run bad to make people switch) so I switched to the new look and I'm getting ads every 2 posts like I used to before installing this. Please update this to work with new FB, I need it.

[2020-06-16 14:25] ajsnyde commented on #62
Never meant to have that functionality mandatory. Opt-in, of course.

[2020-06-16 16:54] rovingrambler commented on #67
I second RipTornSideways; it is no longer working. I use Brave on Debian

[2020-07-20 01:08] tiratatp commented on #67
It's hard to debug this issue. @cbotsikas is it still working for you in New Facebook?

[2020-08-27 22:05] tjk911 commented on #67
Bump - Facebook forced me onto the new layout and I'm seeing sponsored ads as well.

[2020-08-28 11:49] daslicht opened #69 "sponsored ads are still shown"
sponsored ads are still shown

[code]

[2020-09-01 04:00] emfdrill79 commented on #69
Same issue here... the new Facebook layout shows sponsored ads now more often than not.

[2020-09-02 19:13] tiratatp commented on #69
duplicate of #67

[2020-09-02 19:13] #69 closed

[2020-09-02 19:14] tiratatp commented on #67
I still don't have the new Facebook, so I cannot debug this. If someone is willing to code this, and test, I can review and merge

[2020-09-14 06:42] davidlindercodes opened #70 "Doesn't work with the Romanian langauge."
sponsorizat means sponsored in Romanian and that is also how it is displayed within the FB timeline.

Thanks

[2020-09-14 15:02] tiratatp commented on #70
Fixed in 1.8.6

[2020-09-14 15:02] #70 closed

[2020-09-14 15:03] tiratatp commented on #67
Hey @cbotsikas do you have time to debug this issue?

[2020-09-24 20:30] privacyguy123 commented on #62
Is this still working as of today? (24/09/2020)

[2020-09-25 17:50] rcvfdmark commented on #67
I have seen general "sponsored" ads appear in my feed, only to disappear again on a refresh. One political ad that I looked into didn't contain the [aria-label="Sponsored"] tag that I believe the blocker looks for. I didn't see much in the way of stuff to capture for detection, but the HTML of the FeedUnit is linked below if you think that will help. Once the general sponsored ads show up, I'll gr

[2020-09-25 18:25] rcvfdmark commented on #67
OK here we go! This one does have [aria-label="Sponsored"] so I'm not sure what's up. But here's the html for it. HTH

https://pastebin.com/ec46SXAh

![image](https://user-images.githubusercontent.com/17238805/94302884-2dc7ce80-ff2a-11ea-8fef-bceec6888c8e.png)

[2020-10-07 11:14] pa28236 commented on #67
I'm getting the ads non-stop in the new version of FB. Any idea when this will be corrected and pushed out?

[2020-10-08 22:58] TechGuyTN commented on #67
Same here on the new Facebook layout.

[2020-10-12 14:10] pa28236 commented on #67
When this is fixed, please include the "Suggested for You" in the fix? I'm getting these non-stop. Thanks, and keep up the great work!

[2020-10-27 13:04] pa28236 commented on #62
I'd be extremely happy if this was an option to block or not block. For me, I will block! These "Suggested for you" posts are extremely invasive!

[2020-11-01 09:28] SomeDude77 opened #72 "Doesn't block Facebook's mid-video ads"
It either could before or there were none before, but since a few weeks ago these ads have been surfacing, for me at least. I also have uBlock installed.

[2020-11-10 19:38] littlefico commented on #67
i have sponsered links in facebook as of yesterday again.
is there any hope to fix this?

[2020-11-10 19:39] littlefico opened #73 "Sponsered Links in Firefox again"
i have sponsered links in facebook as of yesterday again.
is there any hope to fix this?

[2020-11-17 10:08] DeeKey commented on #62
An option to block "Sug. you" posts would be just great! Too annoying to see!!!

[2020-12-01 09:53] tartansandal commented on #73
Am seeing this too, but only after leaving Facebook open for a while. However, if I refresh the page, the sponsored links are gone.
I gather the extension is not being triggered when new posts are pushed to an open page.

[2020-12-03 06:18] AlesBucek commented on #73
(tested on 3rd Dec 2020 with Facebook Adblock 1.8.7. on Firefox 83.0 running on Mac OS Big Sur 11.0.1)

I tried to test this behavior. The extension stopped working for me multiple times after several refreshes or clicks through the FB page but after additional refresh (or several refreshes) the function was restored.

[2020-12-03 12:18] TrueCyberAxe commented on #73
I am having this issue too.

[2020-12-16 19:27] tiratatp commented on #73
Where are these ads? I just got a new FB5 today, and I only see sidebar ads. I fixed these in 1.8.8

[2020-12-16 19:28] tiratatp commented on #72
Sorry I don't think this is in a scope of this extension.

What I mean is that it would be a significant new feature if we were to implement a block for this.

[2020-12-16 19:29] tiratatp commented on #67
I don't see these myself. This extension does not look for `[aria-label="Sponsored"]` specifically.

[2020-12-16 19:31] tiratatp commented on #67
I just published 1.8.8 for sidebar ads, can anyone try and report back?

[2020-12-16 19:37] pa28236 commented on #67
How do we get 1.8.8 for Chrome? Currently only 1.8.7 available.

From: Tiratat P. <notifications@github.com>
Sent: Wednesday, December 16, 2020 2:31 PM
To: tiratatp/facebook_adblock <facebook_adblock@noreply.github.com>
Cc: pa28236 <steve_h_miller@yahoo.com>; Comment <comment@noreply.github.com>
Subject: Re: [tiratatp/facebook_adblock] Doesn't work with "New Facebook" on chrome (#67)

I just publi

[2020-12-16 19:40] stephanebruckert commented on #72
@tiratatp would you consider leaving the issue open in case anyone is ready to take up the challenge?

I agree it involves significant research and work, but the solution might be simple and resulting feature would fit perfectly with the scope of that extension, knowing that it `blocks` `facebook` `ads`

[2020-12-16 19:42] tiratatp commented on #72
Sure. I will reopen this to track this feature request.

[2020-12-17 01:31] tiratatp commented on #67
Chrome takes a while to review each new version. Maybe up to a week?

[2020-12-17 06:26] tartansandal commented on #73
I'm seeing sponsored ads in the main feed. Using FF 83 and version 1.8.8.

[2020-12-17 06:43] tartansandal commented on #73
Ah,  i see they have broken "sponsored" up into individual characters inside <b> tags.  The outer <a> tag still has an aria-label=" Sponsored" though. Should that have been picked up?

[2020-12-22 16:10] Pancakes4u commented on #72
Please please make this a thing i downloaded like 8 adblockers none of them even block mid video it would mean the world to us if not please recommend something that works

[2020-12-24 20:31] tiratatp commented on #67
1.8.8 is live on Chrome. I'm going to close this since I cannot reproduce. I also don't believe there is any different between a layout on Firefox and Chrome.

[2020-12-24 20:31] #67 closed

[2020-12-24 20:31] tiratatp commented on #73
I'm going to close this since I cannot reproduce. I also don't believe there is any different between a layout on Firefox and Chrome.

[2020-12-24 20:31] #73 closed

[2020-12-24 23:34] tartansandal commented on #73
Just submitted a PR that fixes the issue for me on Firefox

[2020-12-25 00:26] tiratatp commented on #73
Thanks Kal. I published this as 1.8.9

[2021-01-05 16:59] lynXand opened #76 "Extension appears inactive on Chrome in Silicon M1 mac"
Not able to get the extension to activate on facebook.com. Extension settings are default including allowing activation on facebook.com.

[2021-01-05 17:16] tiratatp commented on #76
A platform of your mac should not affect this extension (or any extension).

What's the error message? What's the version of your Chrome? Any screenshot showing the problem?

[2021-01-05 17:31] Goa8 commented on #76
I see. I only noticed it today after having changed to the M1 macbook a few days ago, so figured it may have something to do with the mac.

Chrome version -- Version 87.0.4280.88 (Official Build) (arm64)

No error message. Just inactive. Here are the screenshots showing this: https://imgur.com/a/LML41nM As you can see, behind the first screenshot are facebook's "sponsored" ads.

[2021-01-06 01:40] Goa8 commented on #76
PS. I'm not sure if it's actually abnormal for the extension to be not clickable (greyed out) as in the picture above, but I started seeing this today in the right sidebar: https://imgur.com/Yua3KWA

[2021-01-09 12:09] Yolakalemowa opened #77 "Stopped working on chrome (Win. 10)"

[2021-01-14 20:59] pa28236 commented on #77
Yes, broken now. I'm getting all kinds of Sponsored ads in my feed.
Also, it would be great if the "Suggested for you" posts could be removed as well. Either by having a toggle in the settings to allow or remove , would be great!

[2021-01-15 11:28] krystian3w commented on #76
Only if run correct on Android in Kiwi/Yandex(in the feature too ungoogled chromium).

[2021-01-18 23:43] stephanebruckert commented on #72
Good news, for the last few days I haven't been seeing any in-video ads anymore. I could be wrong or they could just be experimenting, so this will need to be confirmed

It seems it has been replaced by text ads at the bottom of some videos:

<img width="683" alt="Screenshot 2021-01-19 at 00 34 04" src="https://user-images.githubusercontent.com/1932338/104971484-379ca280-59ef-11eb-8c9c-8dcf9929d21

[2021-01-22 13:13] Ricci36 opened #78 "Some normal posts are blocked too."
I just found out that a lot of normal posts are invisible now when the adblocker is active. When I search for them I can find and display them.

When I go into this profile:
https://www.facebook.com/profile.php?id=100007390697894

and scroll down to the Jan. 10th, this post is not displayed (and a lot too):
https://www.facebook.com/permalink.php?story_fbid=2868730023383326&id=100007390697894

[2021-01-22 17:18] cbotsikas commented on #78
The plugin has some logging that should help you and us identify why the post is not shown.
You can see what is hidden by the extension if you open the browser's console and paste and execute the following script as described in [debugging section](https://github.com/tiratatp/facebook_adblock#debugging)
[code]
Once you have executed this, you should see all posts that the plugin blocks marked with

[2021-01-22 17:27] cbotsikas commented on #78
@Ricci36 for me, no post is blocked on the profile you posted. I can also see the post from January 10 12:29 PM CET. If you share "AD Blocked" lines from the console, as i described above, we might be able to identify why the posts are blocked for you. Maybe it's related with the language you have on facebook.

[2021-01-23 06:34] Ricci36 commented on #78
@cbotsikas Funny, today I wanted to look why posts are blocked and ... everything is working fine.
Sorry, seems like this issue can be closed.
If it will happen again, I will try your way to find it out.

Best regards, Ricci

[2021-01-25 08:49] #78 closed

[2021-01-25 08:50] cbotsikas commented on #78
Thank you for the update @Ricci36

[2021-01-27 22:04] offroadpaparazzi opened #79 "Sponsored Posts showing up underneath videos."
Sponsored Posts showing up underneath videos.

![sponsored video](https://user-images.githubusercontent.com/60391279/106058440-3dfddf00-60bf-11eb-8744-eb9adfc98e0a.JPG)

I guess its better than mid video ads.

[2021-02-01 03:25] tiratatp commented on #76
I don't understand your post, @krystian3w.

@lynXand is this problem still exists? I don't know if there is anything an extension developer can do. Did you try to uninstall and reinstall?

[2021-02-01 03:26] tiratatp commented on #77
An issue like this is not useful for us developer since it provides nothing to help us solve this issue.

I recently published 1.9.0 to fix an issue with ads showing after changing a page in FB5. Please try and create a new issue along with anything you could provide to help us debug this.

[2021-02-01 03:26] #77 closed

[2021-02-01 03:28] tiratatp commented on #79
This is interesting. How do you get to this video? I cannot get to this layout in my Facebook. Is it in `Watch` section (https://www.facebook.com/watch)?

[2021-02-01 07:48] krystian3w commented on #76
If addon works bad on ARM Android processors (Snapdragon/Mediatek/Kirin/Exynos) so can works bad on ARM Apple processor.

[2021-02-01 12:50] HaiDang666 commented on #79
I reproduced this issue. The ads show when clicking to open comment section. I'm working on this and make a pull request later.

![image](https://user-images.githubusercontent.com/12780733/106460577-24e19d80-64c6-11eb-974a-98c1844a5b64.png)

[2021-02-01 13:48] offroadpaparazzi commented on #79
Ahhhh I’m not surprised.

It took me a while to get that to happen more than once.

You rock!

Thank you

-art

From: Hoàng Hồ Hải Đăng <notifications@github.com>
Reply-To: tiratatp/facebook_adblock <reply@reply.github.com>
Date: Monday, February 1, 2021 at 7:51 AM
To: tiratatp/facebook_adblock <facebook_adblock@noreply.github.com>
Cc: "arthurpepin@comcast.net" <arthurpepin@comcast.net>, Author <a

[2021-02-01 16:51] tiratatp commented on #76
Like I said before, this extension does not do anything fancy. It's just css and js, and no native code. So that's why I said I don't know why it would not work.

Do you know how to fix this? Or maybe a link to some documentation about this?

[2021-02-03 09:04] HaiDang666 commented on #79
It's so rare to happen for me again.

[2021-02-03 09:14] HaiDang666 commented on #62
we can create an UI to input the text to match so users can do the translation by themselves.

[2021-02-03 19:10] offroadpaparazzi commented on #79
Yes, they are very rare. 

While looking for them I noticed evry 4th post to be a sponsored one..  (  https://www.facebook.com/watch)

-art

From: Hoàng Hồ Hải Đăng <notifications@github.com>
Reply-To: tiratatp/facebook_adblock <reply@reply.github.com>
Date: Wednesday, February 3, 2021 at 4:05 AM
To: tiratatp/facebook_adblock <facebook_adblock@noreply.github.com>
Cc: "arthurpepin@comcast.net" <art

[2021-02-03 20:06] optix2000 opened #81 "Sidebar ads not blocked"
![image](https://user-images.githubusercontent.com/1121068/106801636-d8f23e00-6616-11eb-9582-c2f4c21c8d8e.png)

Version: 1.8.9

HTML snippet:
[code]

[2021-02-05 04:01] tiratatp commented on #81
Please wait for 1.9.0. Firefox should get this already. Chrome is still in review

[2021-02-05 04:01] #81 closed

[2021-02-05 04:03] tiratatp commented on #76
I'll close this since I don't think it's what an extension developer can fix.

[2021-02-05 04:03] #76 closed

[2021-02-07 06:20] HaiDang666 commented on #79
I fixed it in this [pull request](https://github.com/tiratatp/facebook_adblock/pull/82)

[2021-02-07 07:48] tiratatp commented on #79
Nice @HaiDang666!

[2021-02-09 01:30] tiratatp commented on #79
Fixed in 1.9.1

[2021-02-09 01:30] #79 closed

[2021-02-09 01:35] tiratatp commented on #79
Version 1.9.0 is still in review for Chrome so we cannot do anything including publish 1.9.1 until 1.9.0 passes the review.

It could take up to 3 weeks to review each version for Chrome. It has only been one week.

[2021-02-09 12:56] offroadpaparazzi commented on #79
Thank you very much!

-art

From: "Tiratat P." <notifications@github.com>
Reply-To: tiratatp/facebook_adblock <reply@reply.github.com>
Date: Monday, February 8, 2021 at 8:36 PM
To: tiratatp/facebook_adblock <facebook_adblock@noreply.github.com>
Cc: "arthurpepin@comcast.net" <arthurpepin@comcast.net>, Author <author@noreply.github.com>
Subject: Re: [tiratatp/facebook_adblock] Sponsored Posts showin

[2021-02-13 17:25] montumodi opened #84 "Not blocking ads anymore. Used to work before."
![image](https://user-images.githubusercontent.com/12596663/107856498-69532e80-6e20-11eb-905d-e192db8821ef.png)

[2021-02-13 21:20] tiratatp commented on #84
We recently merged a fix for this in version 1.9.2. If you are using Chrome, you might have to wait a while until Chrome has finished their review (up to a month).

[2021-02-13 21:20] #84 closed

[2021-02-17 02:55] ssi-anik commented on #62
Doesn't seem to remove the sponsored ads! Shows very often.
![image](https://user-images.githubusercontent.com/2676602/108149780-b889af80-70fd-11eb-9dd7-b03ec8cb7fc1.png)

[2021-03-02 06:00] tiratatp commented on #79
1.9.2 was published

[2021-03-13 17:10] DFlexy opened #85 "PI-HOLE"
Hi u can modifi one other version for work on pi-hole i like ur plugin for chrome more i want install on pi-hole too u can help ?

[2021-03-14 00:35] R0M4N0F5K7 opened #86 "compatibility with "m.facebook" (Firefox Androidl"
When I use the addon on facebook's mobile homepage Firefox Android it
1) doesn't filter group suggestions
2) seems to filter way too much - basically everything that is not a post on someone's personal profile - every fan-sites you follow our group posts seem to be generally blocked which might be what results in the following issue:
3) after every other post it takes a few seconds to load a few n

[2021-03-14 17:22] cbotsikas commented on #85
@DFlexy Would you like to explain your request a bit more. What do you mean by installing on pi-hole?
This browser plugin is hiding the ads in the DOM level while the content is rendered in the browser. Pi-hole on the other side is blocking content on the DNS level, meaning that your browser never even gets the ads.
I do not think it can be ported to pi-hole in any way.

[2021-03-14 19:02] cbotsikas commented on #86
@R0M4N0F5K7 how did you install the plugin to Firefox on Android?
This plugin doesn't currently support mobile version of facebook but you and anyone else is welcome to contribute.

[2021-03-14 19:41] R0M4N0F5K7 commented on #86
The "standard" method to do it is to use Firefox Nightly. It is a [little bit hidden, but actually fairly straight forward to activate](https://www.ghacks.net/2020/10/01/you-can-now-install-any-add-on-in-firefox-nightly-for-android-but-it-is-complicated/). You just have to set a personal list of add-ons that you created beforehand. This feature is actually already available since September, mainly

[2021-03-14 20:08] cbotsikas commented on #86
Cool, thank you.
I've [created a collection](https://addons.mozilla.org/en-US/firefox/collections/15857097/fbAdBlock/) if anyone is interested in contributing.
Collection owner (User ID): 15857097
Collection name: fbAdBlock

![Screenshot_2021-03-14-21-06-56-067_org mozilla fenix](https://user-images.githubusercontent.com/1640100/111082603-72abe580-8509-11eb-89d6-381c578a7b2d.jpg)

[2021-03-22 00:15] #85 closed

[2021-03-22 00:20] tiratatp commented on #86
I used to test this for the classic Facebook and it was working. I haven't tried with the new FB5 yet.

@R0M4N0F5K7 Do you know the problem? It should be easy to fix. Facebook was not trying too hard to obfuscate stuff on mobile version.

[2021-03-24 21:43] offroadpaparazzi opened #90 "Sponsored posts in Facebook.com/watch"
Sing sponsored posts ever 3rd post while scrolling for videos.

<img width="1064" alt="Screen Shot 2021-03-24 at 5 38 40 PM" src="https://user-images.githubusercontent.com/60391279/112387528-43933200-8cc8-11eb-929d-de599597b123.png">

<img width="1064" alt="Screen Shot 2021-03-24 at 5 40 32 PM" src="https://user-images.githubusercontent.com/60391279/112387542-4726b900-8cc8-11eb-96ec-801538d429f8.p

[2021-03-30 14:09] HaiDang666 commented on #90
I think they updated DOM, I'm gonna have a look on this.

[2021-04-01 08:05] HaiDang666 commented on #90
@tiratatp can u check?

[2021-04-01 12:41] offroadpaparazzi commented on #90
It appears  to be OK now..

Thank You for all you do.

-art

From: Felix ***@***.***>
Reply-To: tiratatp/facebook_adblock ***@***.***>
Date: Thursday, April 1, 2021 at 4:05 AM
To: tiratatp/facebook_adblock ***@***.***>
Cc: ***@***.***" ***@***.***>, Author ***@***.***>
Subject: Re: [tiratatp/facebook_adblock] Sponsored posts in Facebook.com/watch (#90)

@tiratatp can u check?

—
You are receiving

[2021-04-01 12:41] offroadpaparazzi commented on #90
Chrome

[2021-04-04 04:27] HaiDang666 commented on #90
@tiratatp you can close this.

[2021-04-04 13:15] #90 closed

[2021-04-04 13:16] offroadpaparazzi commented on #90
thank you all!

[2021-04-09 09:32] alundiak commented on #62
If anyone asks me, I would vote for blocking "Suggested for You" items. I realize, it's not ad per se, but it's not what I may need to be suggested. So anything I don't expect to be my action, I always treat as invasive as ad.

[2021-04-14 20:12] pa28236 opened #91 "Not blocking anything on Chrome"
**Environment**
 - Extension version: 1.9.2
 - Browser and version: Chrome   89.0.4389.128
 - OS and version: Windows 10

**Describe the bug**
I'm getting ads almost every other post. I see constant "Sponsored" and "Suggested for You" ads!

**Expected behavior**
I expect to not see these ads!

[2021-04-16 05:27] vishalkumar456 opened #92 "not blcoking anything"
I'm still getting ads on Facebook ads like between video or between posts  basically it is showing all the ads

[2021-04-16 05:35] vishalkumar456 opened #93 "[BUG] not blocking any kind of ads on firefox"
**Environment**
 - Extension version: 1.9.2
 - Browser and version: Firefox
 - OS and version: windows

**Describe the bug**
its is not blocking any kind of ads on Facebook instead of blocking ads it shows ads

**Screenshots of console**
![Capture3](https://user-images.githubusercontent.com/59371369/114976434-6798fc00-9e9f-11eb-8169-5d562122dcf8.PNG)
![Capture2](https://user-images.githubuserconte

[2021-04-16 17:37] cbotsikas commented on #91
Can not reproduce.

What is your Facebook language?
If you open Console ( Ctrl + Shift + J ) do you see any errors?
If you refresh the main page ( facebook.com ) with your console open, you shall see two messages "Monitoring feed updates" and "Monitoring page changes"

![image](https://user-images.githubusercontent.com/1640100/115062814-0e56ba00-9eeb-11eb-8934-07dcaaac5d1f.png)

[2021-04-16 17:49] cbotsikas commented on #93
Can not reproduce.

If you open your browser's console ( Ctrl + Shift + K ), somewhere in the top, do you see "Monitoring feed updates" and "Monitoring page changes"?
![image](https://user-images.githubusercontent.com/1640100/115063989-a1dcba80-9eec-11eb-9620-92491577dceb.png)

[2021-04-16 17:52] cbotsikas commented on #92
Video ads are not block by this plugin, only sponsored posts.
I'm closing this in favor of #93

[2021-04-16 17:52] #92 closed

[2021-04-16 17:54] vishalkumar456 commented on #92
On Fri, Apr 16, 2021 at 10:53 PM Christos Botsikas ***@***.***>
wrote:

Sponsored posts are also not blocked are shown in Screen shot

[2021-04-22 14:31] cbotsikas commented on #91
@pa28236 Is this still an issue for you?

[2021-04-22 14:31] cbotsikas commented on #93
@vishalkumar456  Is this still an issue for you?

[2021-04-22 17:42] pa28236 commented on #91
Yes, this is still a problem for me. Doing what you state, I see a lot of error messages in red.

![image](https://user-images.githubusercontent.com/61201326/115761572-79334580-a370-11eb-9412-16e549abaf1f.png)

[2021-04-23 05:11] Tntdruid commented on #93
I get load of ads too now.

[2021-04-23 19:45] pa28236 commented on #91
Every other post is an advertisement. Getting tired of looking at this crap.

[2021-04-23 21:28] cbotsikas commented on #91
@pa28236 the errors you see there are caused by McAfee WebAdvisor, based on the id I see on your screenshot ([fheoggkfdfchfphceeifdbepaooicaho](https://chrome.google.com/webstore/detail/mcafee%C2%AE-webadvisor/fheoggkfdfchfphceeifdbepaooicaho?hl=en)).
Can you try again after you have disabled it from chrome?

[2021-04-23 21:29] cbotsikas commented on #91
Can you also please share a screenshot of an ad? What language do you use on Facebook?

[2021-04-23 23:10] tiratatp commented on #93
@cbotsikas I got ads now too. Looks like the code does not pick up the main feed.

<img width="1246" alt="Screen Shot 2021-04-23 at 4 08 45 PM" src="https://user-images.githubusercontent.com/477306/115938065-4e1f2380-a44e-11eb-999b-ec3d6430470f.png">

[2021-04-24 02:36] tiratatp commented on #93
Fixed by #94! Thanks @cbotsikas !

[2021-04-24 02:36] #93 closed

[2021-04-24 09:30] VikingJan commented on #91
![image](https://user-images.githubusercontent.com/83116372/115954262-eddcc000-a4e7-11eb-9c93-936ccd27cab4.png)
Having the same issue.
I use English on Facebook. Ad and console in screenshot.

[2021-04-24 09:47] cbotsikas commented on #91
@VikingJan your issue is different and was fixed and released today with v1.9.3. Firefox plugin is already updated. For Chrome, it's being reviewed by Google and should be available to you within a couple of days.

[2021-04-24 10:47] VikingJan commented on #91
Ah right, will check again in a few days then. Thanks!

[2021-04-26 14:00] pa28236 commented on #91
It looks like I'm now running version 1.9.3 and it's working again. When it was 1.9.2, I was getting the ads like crazy.
Is there anyway to get rid of the "Suggested for You" ads? Even having a toggle switch in the settings to remove these, for those that want to, would be awesome. I get a lot of these and they're super annoying.
![image](https://user-images.githubusercontent.com/61201326/11609529

[2021-04-26 14:08] cbotsikas commented on #91
I'm glad the update fixed your issue too. I'm closing this ticket since we already have an open task #62 for adding support to block "suggested for you" posts

[2021-04-26 14:08] #91 closed

[2021-04-26 15:10] pa28236 opened #95 "Sponsored ad got through on 1.9.3 in Chrome"
All was good, then I just saw this Sponsored ad. Running 1.9.3 in Chrome. Still, better than it was in 1.9.2 for me.
Now...to get rid of all the "Suggested for You" ads!

![image](https://user-images.githubusercontent.com/61201326/116105791-a852fb00-a67f-11eb-9a67-190f43d8e40b.png)

[2021-04-26 16:23] tiratatp commented on #95
I think this is because I forgot to include #89 in 1.9.3.

You only see political ads like this right?

[2021-04-27 06:39] dfayruzov commented on #95
I'm waiting for get rid of "suggsted for you" ads too.
In the meanwhile: switching to Most Recent tab restores "sponsored" ads (and yes, they are NOT political ads).

First time here - if it's needed, just tell me - I'll reopen as new bug.
![image](https://user-images.githubusercontent.com/28098650/116196538-502dfe80-a73c-11eb-8d2f-d0c65899a8e7.png)

[2021-04-28 15:39] jmccl commented on #95
I'm also getting sponsored (non-political) ads on Chrome Version 90.0.4430.85

![Screenshot_2021-04-28_08-36-31](https://user-images.githubusercontent.com/5283750/116431824-fb05f180-a7fc-11eb-8a76-26b6378259aa.png)

[2021-05-20 15:09] SanskritFritz commented on #95
Same problem on Firefox, version 1.9.3

![Screenshot_20210520_170520](https://user-images.githubusercontent.com/209814/119003515-12647480-b98e-11eb-8f6a-126852d98755.jpg)

[2021-05-25 22:04] offroadpaparazzi commented on #95
seeing this in facebook.com/watch ( ad every 5th post)

![watch](https://user-images.githubusercontent.com/60391279/119574292-81254180-bd83-11eb-8fea-b28a612ab9cc.JPG)

[2021-05-27 21:52] PanPeople opened #96 "Problem with "proposition for you""
**Environment**
Chrome

**Describe the bug**
Sorry but i can't make it as suggestion
But i have problem with this annoying posts:
![image](https://user-images.githubusercontent.com/30329682/119901596-651dcd80-bf46-11eb-99af-9a424fe3033e.png)

Maybe you can get rid of this things?

Thanks for your awesome work

[2021-05-28 05:02] HaiDang666 commented on #95
<img width="981" alt="Screen Shot 2021-05-28 at 11 59 26" src="https://user-images.githubusercontent.com/12780733/119931798-43573180-bfac-11eb-83bc-34963c48595d.png">

- fb.com: still works in FireFox (88.0.1 - 64bit)
- fb.com/watch: not work

[2021-05-30 09:48] r3gamerz opened #97 "sponsored post in search menu"
chrome 90 can see sponsored post in the search
![image](https://user-images.githubusercontent.com/58042048/120099629-c6bc8280-c166-11eb-9625-2c92a65b4435.png)

[2021-06-23 08:28] tiratatp commented on #95
Looking. I'll work on this tomorrow.

[2021-06-23 08:29] tiratatp commented on #96
Duplicated of #62

[2021-06-23 08:29] #96 closed

[2021-06-23 16:51] tiratatp commented on #95
I think the problem is when you change page to the news feed.

I could see the extension is detecting this and monitor a new container.

But it does not seem to find ad elements, even though it is still using `a[aria-label="Sponsored"]`.

@cbotsikas do you have a clue of what this could be?

[2021-06-23 18:34] tiratatp commented on #95
Hi @pa28236 can you test this for me? Would the ads go away if you refresh your page?

There might be a race condition when changing page; by refreshing a page, you trigger our code to scan the page again.

[2021-06-23 22:09] cbotsikas commented on #95
@tiratatp found the issue... observers were cleaned up but the dom elements were not replaced anymore, so our dataset attributes were not cleaned.

[2021-06-23 22:10] tiratatp commented on #95
@cbotsikas You rock!

[2021-06-23 22:34] cbotsikas commented on #95
For the record, for some reason which I don't want to search, I was not able to reproduce the problem with the console open !?

[2021-06-23 23:47] offroadpaparazzi commented on #95
I can’t reproduce this at all

Hmmmm

Thank You for all you do.

-art

From: Christos Botsikas ***@***.***>
Reply-To: siradar/facebook_adblock ***@***.***>
Date: Wednesday, June 23, 2021 at 6:34 PM
To: siradar/facebook_adblock ***@***.***>
Cc: ***@***.***" ***@***.***>, Comment ***@***.***>
Subject: Re: [siradar/facebook_adblock] Sponsored ad got through on 1.9.3 in Chrome (#95)

For the record, f

[2021-06-24 16:46] #95 closed

[2021-06-24 18:30] tiratatp commented on #97
Probably a duplicate of #95.

Please try again with v1.9.4 and if there is still a problem, please reopen this ticket.

[2021-06-24 18:30] #97 closed

[2021-06-24 19:16] tiratatp commented on #95
You can update to 1.9.4 for Firefox now. But for Chrome, it is in review.

[2021-06-24 19:31] offroadpaparazzi commented on #95
Thank You

[2021-07-22 10:02] alex-quiniou commented on #62
I have tried. No sucess. Is it working today with the new visual change on Facebook ?

[2021-08-15 14:06] RedRelay commented on #62
I have recently shared a post about micro-dosing in US and damage it create in workplace. Since, facebook suggest me to buy "micro-dosing starter kit" thought the suggest post. Fortunately I haven't shared pedo scandals, since I don't want to have suggestion to buy a pedo starter kit. Well, this is my personnal experience on Facebook. Do you still think desirability of theses posts is "subjective"

[2021-08-27 10:36] Xenoamor opened #100 "[BUG] Sponsored posts showing"
**Environment**
 - Extension version: 1.9.4
 - Browser and version: Firefox 89.0.2
 - OS and version: Linux Mint 20.1

**Describe the bug**
Sponsored posts are now appearing
![image](https://user-images.githubusercontent.com/7109951/131114360-2fb415e9-13d7-4891-a0f5-83bcee0df621.png)

**Screenshots of console**
![image](https://user-images.githubusercontent.com/7109951/131114443-6b0ea0ea-89cd-4a0d

[2021-08-27 10:41] Xenoamor commented on #100
This is probably an issue on my side. I refreshed and it's now working again as it should

[2021-08-27 10:46] #100 closed, assigned to nobody

[2021-08-27 11:08] datatypevoid commented on #100
I find that the extension stops working if I go to a different page, group, section etc. I have to constantly reload.

[2021-09-04 12:46] daslicht commented on #62
sponsored ads are also displayed, eg:
![](https://i.imgur.com/9UcxqR3.png)

[2021-09-06 15:06] offroadpaparazzi opened #101 "Seeing lots of sponsored posts since I cleared out my browser's cache"
Chrome
mac OS ( Big sur)
extension version 1.94

its as if the extension wasn't there any more.

[2021-09-07 13:45] VieruTudor opened #102 "[BUG] sponsored posts are back"
**Environment**
 - Extension version: 1.9.4
 - Browser and version: Chrome Version 94.0.4606.31 (Official Build) beta
 - OS and version: Windows 11

**Describe the bug**
Still showing sponsored posts after running it for a while. It started to show them for 2 days now, after 3 months from installation.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Facebook
2. Scroll down
3. See spon

[2021-09-17 01:42] offroadpaparazzi commented on #101
No longer working on Mac and PC Firefox and Chrome

[2021-09-17 10:58] cbotsikas commented on #101
thank you for your report. I can also see sponsored posts which means that facebook changed the UI. I'll have to check what was changed and how to detect those ads again. Feel free to contribute

[2021-09-17 10:59] cbotsikas commented on #102
thank you for your report. I can also see sponsored posts which means that facebook changed the UI. I'll have to check what was changed and how to detect those ads again. Feel free to contribute

[2021-09-17 11:01] cbotsikas commented on #101
I'm closing this in favor of #102

[2021-09-17 11:01] #101 closed, assigned to nobody

[2021-09-17 12:01] offroadpaparazzi commented on #102
as always, you guys rock!

[2021-09-26 23:24] #102 closed, assigned to cbotsikas

[2021-09-27 17:31] tiratatp commented on #102
Released as 1.9.5 Firefox version was published but Chrome is still in review (up to 4 weeks...)

[2021-09-27 17:52] offroadpaparazzi commented on #102
Thank You very much
.

[2021-09-29 18:26] Merudo commented on #102
I tried 1.9.5 on both Firefox and Chrome, neither seems to be blocking Sponsored Posts.

[2021-09-29 21:50] offroadpaparazzi commented on #102
1.95 works great on Chrome here....thank You

[2021-09-29 22:39] cbotsikas commented on #102
@Merudo can you share a screenshot?

I'm glad it worked for you @offroadpaparazzi.

[2021-09-30 04:40] VieruTudor commented on #102
+1, 1.9.5 works on Chrome

[2021-09-30 13:16] offroadpaparazzi commented on #102
Seeing them again.....
<img width="751" alt="Screen Shot 2021-09-30 at 9 13 54 AM" src="https://user-images.githubusercontent.com/60391279/135462198-c86394a0-e1ca-4489-9e8c-8a9327eb50e0.png">

[2021-09-30 13:16] offroadpaparazzi commented on #102
^^^^^Chrome with 1.95^^^^^

[2021-09-30 20:01] cbotsikas commented on #102
is it a constant issue or after refreshing sponsored posts are gone?

[2021-10-01 12:15] offroadpaparazzi commented on #102
Goes away after a refresh.  The one pictured seems to be the one I see whenever I see them.

[2021-10-01 12:51] Merudo commented on #102
I tried refreshing in Chrome (Ctrl + F5) but they don't go away:

![image](https://user-images.githubusercontent.com/7371085/135622676-f307ff5f-25d3-4485-aeb5-4311e9d28872.png)
![image](https://user-images.githubusercontent.com/7371085/135622810-8091f65a-40e2-4948-8d62-03c67c6e9d4f.png)

[2021-10-02 15:27] tiratatp opened #104 "[BUG] Saw a comment that the extension "is also hiding the birthdays panel on the right.""
**Environment**
 - Extension version: 1.9.4
 - Browser and version: [e.g. chrome, safari]
 - OS and version: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36

[2021-10-05 22:37] fpusersuggest opened #106 "[BUG] suggested post not hidden"
**Environment**
 - Extension version: 1.9.5
 - Browser and version: [e.g. chrome, safari] firefox 92.0
 - OS and version: [e.g. iOS] ubuntu

**Describe the bug**
A clear and concise description of what the bug is.
Suggested post not hidden

**Screenshots of console**
Add screenshots of browser console to help us debugging the problem.
https://imgur.com/a/3iMPxhb

**To Reproduce**
Steps to reproduc

[2021-10-22 16:14] cbotsikas commented on #106
This is not a bug. This plugin doesn't blog suggested posts.
There's a consideration to add this as an optional feature. see https://github.com/facebook-adblock/facebook_adblock/issues/62

[2021-10-22 16:14] #106 closed, assigned to nobody

[2021-10-22 19:25] cbotsikas commented on #104
I don't think there's a birthday panel on fb5 layout. on the right, it's just the contacts for me, even without the plugin. The only way to find the birthdays is to click on the left side, Events -> Birthdays.
![image](https://user-images.githubusercontent.com/1640100/138511933-a76e692d-5145-4fa8-9968-8097924a5766.png)

[2021-10-24 14:17] Kronzky opened #107 "[Feature] Sponsored Marketplace ads not suppressed"
**Environment**
 - Extension version: 1.9.5
 - Browser and version: Brave (Chromium) 1.31.87
 - OS and version: Win10 21H1

**Describe the bug**
Sponsored ads on Marketplace are not blocked.

**Screenshots of console**
https://imgur.com/5XlUrFN

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Marketplace'
3. Scroll down a few pages
4. Sponsored ads show up

**Expected behavior**
Sponso

[2021-10-25 08:32] cbotsikas commented on #107
Marketplace ads are not detected, that would be a new feature. Contribution is welcome

[2021-10-26 13:16] CZeke commented on #104
It's not there all the time -- only on a friend's actual birthday. You even see it for a second before the extension hides it. I for one would definitely appreciate having it unblocked.

[2021-10-26 13:24] cbotsikas commented on #104
Thank you @CZeke
Actually, I just captured one screenshot of it.
![image](https://user-images.githubusercontent.com/1640100/138887824-83b9491f-2d42-48fb-a4b9-6998d92a4668.png)

[2021-11-12 13:37] shanghaiscott opened #108 "[FEATURE] update permissions to enable add-on for new v3 onion site"
**Environment**
 - Extension version: 1.9.5
 - Browser and version:  Tor Browser 11.0 (based on Mozilla Firefox 91.3.0esr) (64-bit)
 - OS and version: MacOS 10.15.7

**Describe the bug**
The add-on is not configured to work on the new v3 onion site:

https://www.facebookwkhpilnemxj7asaniu7vnjjbiltxjqhye3mhbshg7kx5tfyd.onion

**Screenshots of console**

<img width="663" alt="Screen Shot 2021-11-12

[2021-11-12 13:54] cbotsikas commented on #108
Looks like Facebook changed the onion domain on May this year. Thanks @shanghaiscott for mentioning it.
The official onion domain can be retrieved by https://www.facebook.com/onion-service which is `facebookwkhpilnemxj7asaniu7vnjjbiltxjqhye3mhbshg7kx5tfyd.onion`
More details: https://www.facebook.com/facebookcorewwwi/posts/3727741430665883

[2021-11-16 01:10] CZeke commented on #104
Thanks! Y'all fixed this just in time for me to catch a birthday today.

[2021-11-16 05:08] cbotsikas commented on #108
Version 1.9.6 should be working with onion domain

[2021-11-16 05:08] #108 closed, assigned to nobody

[2021-11-16 05:09] cbotsikas commented on #104
You're welcome 😁.
Fixed with version 1.9.6

[2021-11-16 05:09] #104 closed, assigned to nobody

[2021-11-17 00:00] gth001 opened #110 "Malware? Why does this extension require access to the tor darkweb?"
https://github.com/facebook-adblock/facebook_adblock/search?q=onion

[2021-11-17 00:02] gth001 commented on #110
Hmm, perhaps it is legitimate. However, Chrome Store has automatically disabled the extension in my browser, alerting me the new permission requirement is mandatory. Uninstalling. https://www.facebook.com/facebookcorewwwi/

[2021-11-17 00:02] gth001 commented on #110
![image](https://user-images.githubusercontent.com/10224533/142085313-1febf50a-55e9-4db2-9a23-a7225c2655d7.png)

[2021-11-17 01:31] cbotsikas commented on #110
Hi @gth001 it's because of the the change on the official onion domain or facebook. This plugin works on both the normal domain as well as the tor domain of facebook. It's not trying to connect to darkweb.
It was requested by https://github.com/facebook-adblock/facebook_adblock/issues/108

[2021-11-17 01:31] #110 closed, assigned to nobody

[2021-11-17 01:45] cbotsikas commented on #110
Here's my comment to your store review:

Please consider updating your store review, since it's misleading.

[2021-11-17 01:52] cbotsikas commented on #110
For your convenience, the related change that triggered the chrome warning was this one: https://github.com/facebook-adblock/facebook_adblock/pull/109/commits/75dc2110bf24bc95fd452b3d3c57760af5b72640 (which is part of https://github.com/facebook-adblock/facebook_adblock/commit/90f697400b976183ad554a8d0f1926461d6bc0ca)
As you can see, we changed the onion domain from the old and deprecated `faceboo

[2021-11-17 01:54] gth001 commented on #110
I'd delete the review but there is no delete or edit button

[2021-11-17 01:58] gth001 commented on #110
![image](https://user-images.githubusercontent.com/10224533/142095303-20cde24d-6c50-4de5-8e1d-3d661ef713ef.png)
Ill just add a note since it seem you cant edit reviews

[2021-11-17 02:02] cbotsikas commented on #110
@gth001 you can edit your message if you click the `Write a review` at the top of your screenshot and then at the bottom, you'll see an edit button

[2021-11-17 02:23] cbotsikas commented on #110
Actually, you just need to scroll to the bottom. You'll see the options to Delete or Edit your review.

![image](https://user-images.githubusercontent.com/1640100/142099709-95b07d7b-5f11-4128-99ca-e5aa73a62217.png)

[2021-11-17 02:42] gth001 commented on #110
ok done

[2021-11-17 23:59] gth001 opened #111 "It's not working for me"
I even tried it in incognito mode, with only this extension enabled. It still looks like this:
![image](https://user-images.githubusercontent.com/10224533/142301274-6aac33c4-e264-40b8-9115-d6df5eedeca8.png)

Do I need change any setting in facebook?

[2021-11-18 10:12] cbotsikas commented on #111
Did you explicitly allow the plugin to run on incognito mode? By default is not enabled.
![image](https://user-images.githubusercontent.com/1640100/142392653-1ce49bbe-b533-4099-bc9b-14a4b57ddf10.png)

If you open Console ( Ctrl+Shift+J or Option+Command+J ) do you see any errors?
If you refresh the main page ( facebook.com ) with your console open, you shall see some messages like "Ad Blocker for

[2021-11-18 17:10] gth001 commented on #111
On further experimentation, it works on other accounts.

# Account B (it works):

![image](https://user-images.githubusercontent.com/10224533/142462487-34105b8e-ac5e-410e-a006-57c3689d0276.png)

# Account A (not working):

![image](https://user-images.githubusercontent.com/10224533/142462716-5123c527-5432-4cea-835e-830f6a0c936d.png)

I suppose facebook might be A/B testing a new layout on my main

[2021-12-01 12:55] offroadpaparazzi commented on #111
Seeing tons of sponsored posts as of today.version 1.96 with Chrome, mac OS

[2021-12-01 13:17] offroadpaparazzi commented on #111
Same results with Firefox

[2021-12-03 13:45] offroadpaparazzi commented on #111
I get this error:
{
   "author": "tiratatp",
   "browser_specific_settings": {
      "gecko": {
         "id": "{d403ee9c-3bd2-41d3-b1e9-27698babf097}"
      }
   },

[2021-12-03 13:57] cbotsikas commented on #111
@offroadpaparazzi where do you see this? can you share a screenshot?

[2021-12-03 14:06] offroadpaparazzi commented on #111
I'm not sure when that error occurred, Its in my newsfeed.  I cleared the error and will watch for it to happen again.

no error was generated when I saw this ad
<img width="711" alt="Screen Shot 2021-12-03 at 9 05 50 AM" src="https://user-images.githubusercontent.com/60391279/144615683-4db9cebb-3485-42cf-b4f7-ea3549ae14b4.png">
:

[2021-12-03 14:13] offroadpaparazzi commented on #111
The error happens on startup of Chrome...  no website open.

[2021-12-03 14:37] cbotsikas commented on #111
Obviously FB changed the layout again and our detection mechanism do not work. Unfortunately, my FB account is still using the "old" layout so I do not get any ads to investigate.
Can you @offroadpaparazzi or @gth001 copy the HTML DOM element on a sponsored ad to investigate what has changed?

Instructions for Chrome (for Firefox is similar):

1. Go to Facebook feed.
2. Right click the title of th

[2021-12-03 14:43] cbotsikas commented on #111
can you provide a screenshot? That is strange.

[2021-12-03 14:48] offroadpaparazzi commented on #111
Attached….It seems kind of lengthy.

Thanks

From: Christos Botsikas ***@***.***>
Reply-To: facebook-adblock/facebook_adblock ***@***.***>
Date: Friday, December 3, 2021 at 9:37 AM
To: facebook-adblock/facebook_adblock ***@***.***>
Cc: Art Pepin ***@***.***>, Mention ***@***.***>
Subject: Re: [facebook-adblock/facebook_adblock] It's not working for me (Issue #111)

Obviously FB changed the layout

[2021-12-03 17:16] gth001 commented on #111
Here's an ad on my account

[code]

[2021-12-04 01:25] ssi-anik commented on #111
I have had this extension enabled on my Ubuntu machine, Chrome for ages. It didn't work well previously. But nowadays I see fewer/no ads in my feed. But when I open a video in a new tab, having URL https://www.facebook.com/watch/?v=, it shows me an ad. Not sure when it does, but it does show up.

[2021-12-06 15:59] offroadpaparazzi commented on #111
I noticed if you refresh the page several times you  eventually get to a page without the second post being an AD.  Once you see that you are good to go.

[2021-12-19 12:32] Dark3n89 opened #112 "After reloade stop work - BUG FOUND [BUG]"
Hi, I tried to solve the problem myself but I can't, as many have reported, the script really stops working. IT WILL HAPPEN WHEN THE USER CLICKS ON THE FACEBOOK LOGO TO RETURN TO THE MAIN PAGE. The cause will be somewhere around `console.info("Monitoring feed updates", [feed]);`, a message will be displayed and the script will stop.

[2021-12-19 23:30] cbotsikas commented on #112
Thank you for reporting. I was able to reproduce and find the issue.

[2021-12-20 14:19] offroadpaparazzi commented on #111
Seems to be working now...

[2021-12-22 17:33] Dark3n89 commented on #112
@cbotsikas  I solve problem, after delete `feedObserver.disconnect();`   ( example inside picture: [https://i.ibb.co/kccScQw/image.png](url) )  This problem is gone and script continue deleting again.

[2021-12-22 17:43] cbotsikas commented on #112
@Dark3n89 I already have a working solution but we haven't released a new version yet. You need to disconnect to prevent memory leak. If you see the last commit, I'm cleaning up in case you come back to home screen.

[2021-12-22 18:30] tiratatp commented on #112
Fixed in v1.9.7

[2021-12-22 18:30] #112 closed

[2022-01-07 14:40] Dark3n89 commented on #107
Hi i make today work script for delete ads from  marketplace and marketplace/category  how i can share?  Will you add into your code?

[2022-01-07 16:28] tiratatp commented on #107
You can send a pull request (PR), https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests

[2022-01-07 16:29] tiratatp commented on #107
You can send a pull request (PR), https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests

[2022-01-07 19:18] Dark3n89 commented on #107
Sorry friend i dont know how pull work on github :/ language barrier ..  I paste full code [here](https://github.com/Dark3n89/AIO-Social/blob/main/Facebook%20Ad%20Block%20Final) Your version with my marketplace code, it's the first version, when I have time I'll do it better, so far it works good.

[2022-01-11 03:45] longfellowone commented on #111
Not working for me me recently, here is a copy of the parent element of the first ad

https://gist.github.com/longfellowone/d7ae5a8176da46b436835b3b617afc1d

[2022-01-14 19:51] Dark3n89 commented on #107
is it only first BETA  but i add my code to this code and marketplace is clean [userscript](https://greasyfork.org/en/scripts/438436-facebook-ad-blocker-marketplace-include/code)

[2022-02-19 04:54] offroadpaparazzi commented on #72
I haven't been able to finish a single video lately..... just about all of them suddenly have a mid-roll ad

[2022-02-26 09:13] diccy opened #114 "[Feature] Is it possible to hide sponsored pages apearing in feed ?"
Recently Facebook added other "suggestions" all over the feed :

![image](https://user-images.githubusercontent.com/12190084/155837348-648005b6-854f-4ef3-b69d-e468a3a38cb9.png)

(it's in french, litterally "Suggestions for you")

It looks like this :

![image](https://user-images.githubusercontent.com/12190084/155837429-693be7ac-cff8-4a16-9d59-78c7ce23397f.png)

Can facebook_adblock hide it? Is it

[2022-03-08 11:34] xavierdubuc commented on #114
Would be really appreciated indeed !

[2022-03-29 12:27] hyperlogos opened #115 "[FEATURE] Can you block reels and stories?"
It would be very helpful if this extension could block reels and stories, so I wouldn't need to use any other tools to suppress unwanted content on Fb.

[2022-03-30 09:36] cbotsikas commented on #115
Thanks for the suggestion @hyperlogos. This is out of the scope of the plugin but it could be an optional setting to hide those too. For sure, we are never going to hide them by default, since reels and stories are not ads, similar to [suggested content](https://github.com/facebook-adblock/facebook_adblock/issues/62).

Feel free to submit a pull request

[2022-03-30 09:40] cbotsikas commented on #114
Thanks. Handling "suggested for you" content is already a requested feature https://github.com/facebook-adblock/facebook_adblock/issues/62. Those are not considered ads and thus the plugin doesn't hide those by default.

[2022-03-30 09:40] #114 closed, assigned to nobody

[2022-04-08 13:27] StephanRaab commented on #62
@alex-quiniou

It worked for me in ublock origin, once I changed the text to my language. Did you change it to French for your facebook language?

[2022-04-13 23:13] Dark3n89 opened #119 "Something changed [BUG]"
1.9.8
Chrome
Czech lang

Today 14.4.22  i start spotting again SPONSORED ADS
[url=https://ibb.co/C2Wd194][img]https://i.ibb.co/vYD5wdf/image.png[/img][/url]

[2022-04-14 08:02] Dark3n89 commented on #115
Feels and stories  you can block manual by any css or ad block, not dynamic minimal 4 moths

example stories:

div.gs1a9yip.j83agx80.btwxx1t3.owycx6da.jifvfom9.dlv3wnog.rl04r1d5.ni8dbmo4.stjgntxs.jbae33se.cxgpxx05.l9j0dhe7
{
Display: none !important;
visibility: hidden !important;
}

choice one from two rullez, i using 99% times display, but visibility work much better  for stories

[2022-04-14 15:26] pdc1 commented on #119
Same thing on Firefox 99.0.1
English lang

[2022-04-14 19:52] cbotsikas commented on #119
Thank you @Dark3n89 for reporting and @pdc1 for confirming.
Unfortunately, I can't reproduce yet so feel free to contribute or share a sponsored ad DOM (please follow instructions from this older comment: https://github.com/facebook-adblock/facebook_adblock/issues/111#issuecomment-985571618).

[2022-04-14 22:20] Dark3n89 commented on #119
ok ok i forgot, sorry :)

`<div data-pagelet="FeedUnit_1" class="FBTR-PROCESSED"><div class="du4w35lb k4urcfbm l9j0dhe7 sjgh65i0"><div class="du4w35lb l9j0dhe7"><div class=""><div class=""><div aria-posinset="2" aria-describedby="jsc_c_4i jsc_c_4j jsc_c_4k jsc_c_4m jsc_c_4l" aria-labelledby="jsc_c_4h" class="lzcic4wl" role="article"><div class="j83agx80 cbu4d94t"><div class="rq0escxv l9j0dhe7 du4w

[2022-04-14 22:58] tiratatp commented on #115
Thanks for sharing. Feel free to submit a PR for this feature or fork this extension. As I stated before, our goal is to block targeted ads, and not anything else.

[2022-04-14 22:58] #115 closed, assigned to nobody

[2022-04-14 22:59] tiratatp commented on #107
Good start. Let me take a look.

[2022-04-14 23:00] tiratatp commented on #111
close this since this is probably outdated

[2022-04-14 23:00] #111 closed, assigned to nobody

[2022-04-14 23:02] tiratatp commented on #119
This should be fixed in 1.9.9

[2022-04-14 23:02] #119 closed

[2022-04-15 12:12] Cyanure01 opened #121 "[Request] Block Facebook Reel"
**Environment**
 - Extension version: 1.9.9
 - Browser and version: firefox
 - OS and version: Win10

**Describe the request**
It's very recent here : on computers, Facebook now shows short videos like they did with the app with Reel. As there are no options on facebook to remove it, could facebook-adblock get the ability to block it in near future ? (might it be an option to enable)

**Screenshot

[2022-04-27 02:32] gunsuka opened #122 "[BUG] These adverts are so annoying, they just will not stop."
**Environment**
 - Extension version: 1.9.9
 - Browser and version: Chrome Version 101.0.4951.41 (Official Build) beta (64-bit)
 - OS and version: Windows 10

**Describe the bug**
Plugin is installed, but the adverts keep coming.

**Screenshots of console**
![advert](https://user-images.githubusercontent.com/13393784/165426798-7c8d5e1d-bfc0-4b28-abe3-ac4d4d81d184.png)

The plugin is running, in th

[2022-04-27 19:14] Dark3n89 commented on #122
Yup again changed codes :/

`<div data-pagelet="FeedUnit_{n}"><div class="du4w35lb k4urcfbm l9j0dhe7 sjgh65i0"><div class="du4w35lb l9j0dhe7"><div class=""><div class=""><div aria-posinset="7" aria-describedby="jsc_c_8k jsc_c_8l jsc_c_8m jsc_c_8o jsc_c_8n" aria-labelledby="jsc_c_8j" class="lzcic4wl" role="article"><div class="j83agx80 cbu4d94t"><div class="rq0escxv l9j0dhe7 du4w35lb"><div class="j

[2022-05-04 16:52] Conan179 opened #123 "[BUG] ads in my timeline"
**Environment**
 - Extension version: 1.9.9
 - Browser and version: [e.g. chrome, safari] Chrome Version 101.0.4951.54
 - OS and version: [e.g. iOS] Windows 10

**Describe the bug**
the ads dosont remove.
![fa3_04052022](https://user-images.githubusercontent.com/1906242/166735161-d17918e4-d089-40fa-a065-6bfd1490f97c.JPG)
![fa2_04052022](https://user-images.githubusercontent.com/1906242/166735173-6

[2022-05-09 14:11] cbotsikas commented on #122
I have good news, I can finally reproduce it and now I have those new ads on my account too. The bad news is that I need to find some time to work on this.
Feel free to contribute or please be patient.

[2022-05-09 14:13] cbotsikas commented on #123
Thank you @Conan179 , I'll close this and track the issue on the existing ticket https://github.com/facebook-adblock/facebook_adblock/issues/122

[2022-05-09 14:13] #123 closed, assigned to nobody

[2022-05-10 21:00] tiratatp commented on #122
Releasing as 1.9.10. Thanks @cbotsikas !

[2022-05-11 22:31] Dark3n89 commented on #122
i grab source from mozzila to chrome and work excelent.
BIG thank you guys :)

[2022-05-24 13:46] m-czyz commented on #115
From my perspective this reels section could be considered in the same way as a other kind of adverts - both are undesirable by its nature.

[2022-06-01 06:10] Conan179 commented on #123
hi, just wanted to let you know that the advertising and the "Sponsored" box at the top right are back.

[2022-06-01 16:07] Conan179 opened #125 "[BUG] ads in my timeline, again"
hi, just wanted to let you know that the advertising and the "Sponsored" box at the top right are back.

[2022-06-02 15:10] dima6526 commented on #125
same here...

[2022-06-12 15:54] AlgorithMan-de commented on #125
same here.
I don't know how it worked before, but I have examined the "Gesponsert"-tag (german) and I noticed that facebook obfuscates the text in there. There was a `<span>` with 42 sub-spans, which contained one character each. They were in random order, but the spans have `style="order: ..."` which puts them in the correct order. Also there are additional characters, which I guess are made invi

[2022-06-16 04:33] isaactzab commented on #125
I made a fix that probably solve the problem in your language. Please check it out. It currently works for spanish facebook.

[2022-06-16 21:55] Dark3n89 commented on #125
I rewrite by your changes and all now work perfect, BIG thank you BOSS ♥
![image](https://user-images.githubusercontent.com/48175529/174173048-9cda035b-cd4a-4d69-beda-dbb13c976c5d.png)

[2022-06-16 22:15] isaactzab commented on #125
awesome! Hopefully, the PR will be approved.
@tiratatp Let me know if any additional adjustments are needed to this PR

[2022-06-16 23:49] #122 closed, assigned to nobody

[2022-06-16 23:50] tiratatp commented on #125
Thank you for the fix @isaactzab !
Posted one minor comment. Could you fix that and I can merge it today?

[2022-06-17 00:09] tiratatp commented on #121
Reels are not ads. Reels are short form video.

Like I mentioned earlier, we don't block feature in this extension.

[2022-06-17 00:09] #121 closed, assigned to nobody

[2022-06-17 00:12] tiratatp commented on #107
I looked at the code. In our extension, I tried to consider performance when blocking things. That's why we don't use `setInterval` here but use mutation observer https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver.

Another feedback is that the obfuscated class name are not a good filter since they change often.

[2022-06-18 04:01] tiratatp commented on #125
Released as v1.9.11

Thanks all!

[2022-06-18 04:01] #125 closed, assigned to nobody

[2022-06-19 09:46] Conan179 commented on #125
On the german facebook site, its not working.

[2022-06-19 09:48] Conan179 commented on #125
![fa_190622](https://user-images.githubusercontent.com/1906242/174475287-44eb16fb-de3b-499e-b099-00664ffdc128.JPG)

[2022-06-20 13:57] isaactzab commented on #125
I tried to replicate and indeed, in the Spanish version the advertisement came up again. I did npm install, then npm run release, reloaded the extension and it worked fine. The advertisement is gone. Probably you have some issue with the build.

[2022-06-20 13:59] isaactzab commented on #125
I am not sure if the chrome extension store version is the same as the repository version. can you confirm that @tiratatp ?

[2022-06-28 20:55] Woolwit opened #128 "Sponsored Ads Getting Through[BUG]"
**Environment**
 - Extension version: 1.9.11
 - Browser and version: Firefox 102.0
 - OS and version: Mac Monterey

**Describe the bug**
About 2 weeks ago sponsored ads started making it into my feed again.

**Screenshots of console**
![Screen Shot 2022-06-28 at 13 50 54](https://user-images.githubusercontent.com/3462081/176285631-cdb736ea-84b5-44b6-84d0-a288f02cff86.jpg)

**To Reproduce**
Steps t

[2022-07-21 11:54] WolfgangDpunkt commented on #128
Yes, doesn't work anymore :-(

[2022-08-02 15:10] digdilem commented on #128
Confirmed again. Don't realise how good this thing is until it stops working!

[2022-08-08 21:50] dawnFirefly commented on #128
Can confirm. This plugin does not work anymore.

[2022-08-09 09:32] ssi-anik commented on #128
I do confirm as well. The whole feed is flooded with ads

![image](https://user-images.githubusercontent.com/2676602/183615306-d853695e-64e7-4e69-bceb-d6164d138cbc.png)
![image](https://user-images.githubusercontent.com/2676602/183615414-aafbbdbe-fb63-460c-8dfd-91394ec168c1.png)
![image](https://user-images.githubusercontent.com/2676602/183615541-c46f8617-749b-4f83-b0c5-e661509c9204.png)

[2022-08-11 01:30] ocs1986 commented on #128
Looks like Facebook got around the ad blockers (again), my timeline is flooding with Sponsored ads no matter what blocker I am using.

[2022-08-11 18:28] chuyaguo2014 commented on #72
I think I might have the opposite problem 😅 I will watch a video on Facebook, and when the ads start playing, the whole video gets removed so I never get to finish the video.

I am not sure what the solution should be in this case (like should we fast forward to the end of the ads and resume the video? is that even possible?) but just thought I'd mention it here. 😃

[2022-08-12 13:01] offroadpaparazzi opened #129 "Feature Request"
Can you apply this plugin to Instagram for Web?
Just started seeing sponsored posts while browsing IG with Chrome.
<img width="523" alt="Screen Shot 2022-08-12 at 8 54 51 AM" src="https://user-images.githubusercontent.com/60391279/184359134-fe54eaf7-1b9e-49f9-9448-b7deb2dc0a2d.png">

Up until today I've never seen one.

[2022-08-14 18:45] markum opened #130 "[Feature Request] Block reels and short videos"
Unfortunately is not possible to block the frequently appearing reels and short videos. Would be cool, if it could be with this extension.

[2022-09-16 06:25] takenek opened #131 "[BUG] Polish language version of Facebook"
Hey,
For me this extension do not work. I use Polish Language of Facebook and i got normal all ads after install this extension nothing change...
Maybe because there is not "sponsored" word there is a "Sponsorowane" ?
If extension loking for "sponsored" word he don't find because not exist in Polish language.....

Best Regards
TaKeN

[2022-09-22 07:31] arye321 opened #132 "New way to find sponsored element"
Hi, I wanted to make a pull request but the code is too complicated for me
so I'll suggest code improvement for finding sponsored elemnts

run this in facebook webpage console:

[code]

this will mark all current ads in english interface .

the new Sponsor label is inside an SVG with a `<use>` element, inside the `use` element theres a `shadow root (closed)` element.

![image](https://user-images.

[2022-10-05 16:37] mitakadan opened #133 "Messing with the close button for images (the X button top left)"
**Environment**
 - Extension version: 1.9.14
 - Browser and version: Chrome (latest)
 - OS and version: Windows 10

**Describe the bug**
Messing with the close button for images (the X button top left) - you can't click it or sometimes there is a hidden link that brings you to Fb Ad info page

**Expected behavior**
Close the image

[2022-10-06 00:23] cbotsikas commented on #133
Can you share a screen shot? Are you sure you are using the correct chrome plugin?

[2022-10-07 01:26] tldonn opened #134 "Enhance to report blocked content"
Enhancement Request - I really hate Sponsored Ads. Without this plugin enabled, I see a sponsored Ad each 3rd/4th entry on my News Feed.  Most are not even close to what I would call my areas of interest.  FB just floods it's user community with irrelevant Ads.  Some are even in different languages.  Offensive and abusive to say the least.

This plugin works rather well in concealing Sponsored Ads

[2022-10-11 08:53] offroadpaparazzi commented on #111
Things have been working pretty well lately.

Thank you,,

From: "Tiratat P." ***@***.***>
Reply-To: facebook-adblock/facebook_adblock ***@***.***>
Date: Thursday, April 14, 2022 at 7:00 PM
To: facebook-adblock/facebook_adblock ***@***.***>
Cc: Art Pepin ***@***.***>, Mention ***@***.***>
Subject: Re: [facebook-adblock/facebook_adblock] It's not working for me (Issue #111)

close this since this i

[2022-10-15 14:03] Sledmine commented on #132
This was not working for me, as it selects the entire div for where all the other posts live as well, I edited your selector to get the parent div the Sponsor post, it got dirty but it does the job, probably someone else can simplify it and integrate it with the extension:

[code]
It manages to highlight just the Sponsored post (remember editing name of the text element depending on your language)

[2022-10-15 14:16] arye321 commented on #132
Right, they changed it a couple of days later, you can see my new method here:

https://github.com/arye321/fbab/blob/master/main.js

        useElements[len].closest(`div[class=""]`).hidden = true